/* BLOG & BLOG ARTICLE */
// Styling rules for both - the blog listing view and the blog single article view
.post-add-content {
  padding-top: 25px;
}

.post {
  padding-top: 40px;
  .post-meta {
    margin-bottom: 5px;
    line-height: 1.2;
  }

  .post-title {
    margin-bottom: 5px;
    padding-bottom: 0;
    line-height: 1.2;

    &, a {
      @include query($tablet-2) {
        font-size: 30px;
      }
      font-weight: 700;
      font-size: 40px;
    }

    a {
      &:hover {
        text-decoration: none;
      }
    }
  }

  .post-date {
    font-size: 15px;
  }

  .comments-count {
    display: inline-block;
    padding: 4px 3px 2px;
    min-width: 14px;
    min-height: 14px;
    border-radius: 50%;
    vertical-align: 1px;
    text-align: center;
    font-size: 12px;
    line-height: 1;
    &:hover {
      text-decoration: none;
    }
  }

  .post-content {
    .post-excerpt {
      .post-page & {
        margin-bottom: 25px;
      }
    }
  }

  .read-more {
    display: inline-block;
  }

  .post-footer {
    .post-author {
      font-size: 12px;
    }
  }

  .tags {
    // @include query($tablet-2) {
    //   padding-bottom: 30px;
    //   margin-top: 35px;
    // }
    position: relative;
    padding-top: 25px;
    margin-top: 30px;
    font-weight: bold;
    font-size: 0.9em;
    line-height: 1.2;

    .tag-link {
      margin-right: 20px;
      text-decoration: none;
      font-weight: 600;
      display: inline-block;
    }
  }
}

// Style rules for the blog listing view only
.blog-page {
  .post {
    &:last-child {
      margin-bottom: 0;
      padding-bottom: 0;
      border-bottom: none;
    }
  }
  .tagged-list-header {
    margin: auto;
    max-width: 960px;
    font-size: 0.9em;
    line-height: 1.2;
    .menu {
      padding: 10px 0;
    }
    .menu-item {
      margin-right: 10px;
    }
  }
}

.post-page {
  .container {
    position: relative;
  }
  .post {
    @include query($tablet-2) {
      font-size: 1.1em;
      line-height: 1.45;
    }
    padding: 0;
    font-size: 1.2em;
    line-height: 1.45;
  }
  .header-wrapper {
    position: relative;

    .post-header-wrapper {
      @include query($tablet-2) {
        margin-top: 0;
        min-height: 225px;
      }
      position: relative;
      min-height: 475px;
      width: 100%;
      margin-top: -70px;
    }

    .background-color {
      z-index: 0;
      &.edy-img-drop-area {
        position: absolute;
        background-size: cover;
      }
    }

    .post-header {
      position: absolute;
      top: 50%;
      width: 100%;
      -ms-transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);

      @include query($tablet-2) {
        position: static;
        top: 0;
        width: 100%;
        -ms-transform: translateY(0);
        -webkit-transform: translateY(0);
        transform: translateY(0);
        padding-top: 40px;
        padding-bottom: 40px;
      }

      h1 {
        @include query($tablet-2) {
          font-size: 2em;
        }
        margin-bottom: 15px;
        padding: 0 20px;
        text-align: center;
        font-size: 3.9em;
        line-height: 1.2;
      }

      .post-meta {
        @include query($tablet-2) {
          font-size: 1.1em;
        }
        padding: 0 20px;
        text-align: center;
        font-size: 1.25em;
      }
    }
  }
  .post .edy-ca {
    margin-top: 25px;
  }
  .edy-img-drop-area-placeholder {
    position: absolute;
    left: 45px;
  }
}

.post-nav {
  margin-top: 25px;
  padding: 0 12%;

  @include query($tablet-2) {
    padding: 0;
  }
}

.post-nav-inner {
  border-top: 1px solid rgba(0,0,0,.3);

  @media screen and (min-width: $tablet-3 + 1) {
    display: flex;
  }
}

.post-nav-link {
  position: relative;
  display: block;
  flex: 1;
  padding-top: 20px;
  padding-bottom: 20px;
  color: currentColor;

  &:hover {
    .post-nav-direction {
      opacity: 1;
    }

    .post-nav-title {
      opacity: 1;
    }
  }

  &:nth-child(2) {
    &::before {
      @media screen and (max-width: $tablet-3) {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: block;
        border-top-color: currentColor;
        border-top-style: solid;
        border-top-width: 1px;
        content: '';
        opacity: .2;
      }
    }
  }

  @media screen and (max-width: $tablet-3) {
    text-align: center;
  }
}

.post-nav-link-older {
  @media screen and (min-width: $tablet-3 + 1) {
    padding-right: 20px;
  }
}

.post-nav-link-newer {
  @media screen and (min-width: $tablet-3 + 1) {
    padding-left: 20px;
    text-align: right;
  }
}

.post-nav-direction {
  font-size: 13px;
  letter-spacing: .2em;
  text-transform: uppercase;
  opacity: .3;
}

.post-nav-title {
  margin-top: 6px;
  font-size: 18px;
  opacity: .7;
}
