// =============================================================================
// Content area buy button
// =============================================================================
.content-formatted {
  .edy-buy-button-container {

    margin: 20px 0 10px;

    // sass-lint:disable class-name-format
    .form_field {
      padding-top: 15px;
    }
    // sass-lint:enable class-name-format
  }
}

.edy-buy-button-variants {
  .content-formatted &, .edy-product-widget-modal-container & {
    // sass-lint:disable class-name-format
    .form_field {
      padding-top: 5px;
      padding-bottom: 5px;
    }

    .form_field_select {
      background: none;
      width: initial;
      background-color: $color-white;
      padding: 6px 25px 6px 7px;
      font-size: 14px;
      line-height: 1.5;
      background-image: url(../assets/ico-arrow-black.svg);
      background-position: right 10px center;
      background-repeat: no-repeat;
      border-radius: 2px;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      outline: none;
      appearance: none;
      border-radius: 0;
      background-image: url('../assets/chevron-down-black.svg');
      background-repeat: no-repeat;
    }
  }

  .edy-product-widget-modal-container & {
    padding-bottom: 24px;

    .form_field {
      &:first-child {
        padding-top: 0px;
      }

      &:last-child {
        padding-bottom: 0px;
      }
    }
  }

    // sass-lint:enable class-name-format
}
