// GLOBAL
body {
  &.light-background {
    color: $dark-primary;
    .background-color {
      background-color: transparent;
    }
  }
  &.dark-background {
    color: $light-primary;
    .background-color {
      background-color: transparent;
    }
  }
}

// HEADER
.header {
  .header-title, .header-title a {
    @include color-set($dark-primary, $light-primary);
    @include query($tablet-2) {
      color: $light-hover !important;
      &:hover {
        color: $light-hover !important;
      }
    }
  }
  .menu-link {
    @include color-set($dark-primary, $light-primary);
    &.active, &:hover {
      @include color-set($dark-hover, $light-hover);
    }
  }
  .langmenu {
    @include color-set($dark-primary, $light-primary);
    .light-background &, & {
      border: 1px solid $dark-tertiary;
    }
    .dark-background & {
      border: 1px solid $light-tertiary;
    }
    .langmenu-content {
      @include color-set($dark-secondary, $light-secondary);
      &:before {
        .light-background &, & {
          border-color: rgba(255,255,255,.01);
          border-top-color: rgba(0,0,0,.1);
        }
        .dark-background & {
          border-color: rgba(0,0,0,.01);
          border-top-color: rgba(255,255,255,.3);
        }
      }
    }
    .langmenu-arrow,
    .langmenu-arrow2 {
      .light-background &, & {
        border-color: transparent;
        border-bottom-color: #f7f7f7;
      }
      .dark-background & {
        border-color: transparent;
        border-bottom-color: #444444;
      }
    }
    ul {
      .light-background &, & {
        @include box-shadow(0, 10px, 20px, rgba(0,0,0,.15));
        background-color: #f7f7f7;
      }
      .dark-background & {
        @include box-shadow(0, 10px, 20px, rgba(255,255,255,.15));
        background-color: #444444;
      }
      a {
        @include color-set($dark-primary, $light-primary);
        &:hover,
        &:active {
          @include color-set($dark-hover, $light-hover);
        }
      }
    }
  }
}

// BLOG POST
.post,  {
  .post-title a, .comments-count {
    border: none !important;
    box-shadow: none !important;
  }
  // TITLE
  .post-title {
    &,
    .light-background & {
      &, a {
        color: $dark-primary;
      }
      a:hover {
        color: $dark-hover;
      }
    }
    .dark-background & {
      &, a {
        color: $light-primary;
      }
      a:hover {
        color: $light-hover;
      }
    }
  }
  // DATE
  .post-date {
    @include color-set($dark-tertiary, $light-tertiary);
  }
  // COMMENTS COUNT
  .comments-count {
    @include color-set($dark-tertiary, $light-tertiary);
    &,
    .light-background & {
      border: 1px solid $dark-tertiary !important;
    }
    .dark-background & {
      border: 1px solid $light-tertiary !important;
    }
    &:hover {
      @include color-set($dark-hover2, $light-hover2);
      &,
      .light-background & {
        border: 1px solid $dark-hover2 !important;
      }
      .dark-background & {
        border: 1px solid $light-hover2 !important;
      }
    }
  }
  .post-excerpt .placeholder,
  .post-body .placeholder {
    @include color-set($dark-primary, $light-primary);
  }
  .post-excerpt,
  .post-body {
    @include color-set($dark-secondary, $light-secondary);
  }
  .read-more {
    @include color-set($dark-tertiary, $light-tertiary);
    &:hover {
      @include color-set($dark-hover, $light-hover);
    }
  }
  // TAGS
  .tags {
    &,
    .light-background & {
      border-top: 1px solid $dark-tertiary;
      .tag-icon {
        background: url('../images/ico-tag-dark.png') no-repeat center center;
        background-size: 16px;
        .svg & {
          background: url('../assets/ico-tag-dark.svg') no-repeat center center;
        }
      }
    }
    .dark-background & {
      border-top: 1px solid $light-tertiary;
      .tag-icon {
        background: url('../images/ico-tag.png') no-repeat center center;
        background-size: 16px;
        .svg & {
          background: url('../assets/ico-tag.svg') no-repeat center center;
        }
      }
    }
    .tags-editor input {
      @include color-set($dark-primary, $light-primary);
      @include placeholder {
        line-height: 1.3;
      }
    }
    .tag-link {
      @include color-set($dark-primary, $light-primary);
      &:hover {
        @include color-set($dark-hover, $light-hover);
      }
    }
  }
}
.light {
  .post-header {
    .post-title,
    .post-meta {
      color: black;
    }
  }
  .header {
    .header-title,
    .header-title a,
    .menu-link,
    .menu-link.active,
    .menu-link:hover {
      color: black;
    }
    .langmenu {
      border: 1px solid $dark-tertiary;
      .langmenu-arrow,
      .langmenu-arrow2 {
        border-color: transparent;
        border-bottom-color: #f7f7f7;
      }
    }
    .langmenu ul {
      @include box-shadow(0, 10px, 20px, rgba(0,0,0,.15));
      background-color: #f7f7f7;
      a, a:hover, a.active {
        color: $dark-primary;
      }
    }
    .langmenu .langmenu-content {
      color: $dark-primary;
    }
    .langmenu-content:before {
      border-color: rgba(255,255,255,.01);
      border-top-color: rgba(0,0,0,.1);
    }
  }
}
.dark {
  .post-header {
    .post-title,
    .post-meta {
      color: white;
    }
  }
  .header {
    .header-title,
    .header-title a,
    .menu-link,
    .menu-link.active,
    .menu-link:hover {
      color: white;
    }
    .langmenu {
      border: 1px solid $light-tertiary;
      .langmenu-arrow,
      .langmenu-arrow2 {
        border-color: transparent;
        border-bottom-color: #444444;
      }
    }
    .langmenu ul {
      @include box-shadow(0, 10px, 20px, rgba(255,255,255,.15));
      background-color: #444444;
      a, a:hover, a.active {
        color: $light-primary;
      }
    }
    .langmenu .langmenu-content {
      color: $light-primary;
    }
    .langmenu-content:before {
      border-color: rgba(0,0,0,.01);
      border-top-color: rgba(255,255,255,.3);
    }
  }
}
.blog-page.light-background, .blog-page {
  .tagged-list-header {
    border-top: 1px solid rgba(0,0,0,.1);
    border-bottom: 1px solid rgba(0,0,0,.1);
    color: $dark-tertiary;
    .menu-link {
      color: $dark-tertiary;
      &:hover {
        color: $dark-hover2;
      }
      &.active {
        color: $dark-primary;
      }
    }
  }
}
.blog-page.dark-background {
  .tagged-list-header {
    border-top: 1px solid rgba(255,255,255,.1);
    border-bottom: 1px solid rgba(255,255,255,.1);
    color: $light-tertiary;
    .menu-link {
      color: $light-tertiary;
      &:hover {
        color: $light-hover2;
      }
      &.active {
        color: $light-primary;
      }
    }
  }
}

// COMMENTS
.comments {
  .light-background &, & {
    .comment-title {
      border-top: 1px solid $dark-tertiary;
    }
  }
  .dark-background & {
    .comment-title {
      border-top: 1px solid $light-tertiary;
    }
  }
  .comment-date {
    @include color-set($dark-tertiary, $light-tertiary);
  }
  .comment-body {
    @include color-set($dark-secondary, $light-secondary);
  }
}

// SIDEBAR MENU

.content-left .menu {
  .submenu, .menu-item {

  }
  & > li {
    .light-background &, & {
      border-top: 1px solid rgba(0,0,0,.1);
    }
    .dark-background & {
      border-top: 1px solid rgba(255,255,255,.15);
    }
  }
  & > ul {
    .light-background &, & {
      border-top: 1px solid rgba(0,0,0,.1);
    }
    .dark-background & {
      border-top: 1px solid rgba(255,255,255,.15);
    }
  }
  .menu-link {
    @include color-set($dark-secondary, $light-secondary);
    &.active {
      @include color-set($dark-primary, $light-primary);
    }
  }
  .submenu {
    .light-background &, & {
      background: rgba(0,0,0,.02);
    }
    .dark-background & {
      background: rgba(255,255,255,.1);
    }
  }
}
a {
  text-decoration: none;
}

.content-formatted,
.voog-search-modal {
  .light-background &, & {
    a:not(.noborder):not(.custom-btn):not(.edy-content-social-button):not(.edy-product-widget-item-btn):not(.edy-product-widget-item-link):not(.edy-product-widget-item-url) {
      border-bottom: 1px solid $link-solid;
      border-bottom: 1px solid $link-rgba-light;
      box-shadow: inset 0 -4px 0$link-solid;
      box-shadow: inset 0 -4px 0 $link-rgba-light;
      &:hover {
        border-bottom: 1px solid $link-solid-hover;
        border-bottom: 1px solid $link-rgba-hover-light;
        box-shadow: inset 0 -4px 0 $link-solid-hover;
        box-shadow: inset 0 -4px 0 $link-rgba-hover-light;
      }
    }
  }
  .dark-background & {
    a:not(.noborder):not(.custom-btn):not(.edy-content-social-button):not(.edy-product-widget-item-btn):not(.edy-product-widget-item-link):not(.edy-product-widget-item-url) {
      border-bottom: 1px solid $link-solid;
      border-bottom: 1px solid $link-rgba-dark;
      box-shadow: inset 0 -4px 0 $link-solid;
      box-shadow: inset 0 -4px 0 $link-rgba-dark;
      &:hover {
        border-bottom: 1px solid $link-solid-hover;
        border-bottom: 1px solid $link-rgba-hover-dark;
        box-shadow: inset 0 -4px 0 $link-solid-hover;
        box-shadow: inset 0 -4px 0 $link-rgba-hover-dark;
      }
    }
  }
  h1,h2,h3,h4,h5,h6 {
    a {
      border: none;
      box-shadow: none;
    }
  }
}
nav a, .menu a, .header a, .edy-cbtn, .edy-btn-cm-round, .edys-gallery-item, .edys-gallery-grid-item,
.edy-btn-removecomment, .tag-link, .read-more, .edy-tag-suggestion {
  border: none !important;
  box-shadow: none !important;
}
// FORMATTED CONTENT
.content-formatted {
  h1,h2,h3,h4,h5,h6,
  li:before,
  a:not(.noborder):not(.custom-btn):not(.edy-content-social-button):not(.edy-product-widget-item-btn):not(.edy-product-widget-item-link):not(.edy-product-widget-item-url) {
    @include color-set($dark-primary, $light-primary);
  }
  a:not(.noborder):not(.custom-btn):not(.edy-content-social-button):not(.edy-product-widget-item-btn):not(.edy-product-widget-item-link):not(.edy-product-widget-item-url):hover {
    @include color-set($dark-hover, $light-hover);
  }
  pre {
    .light-background &, & {
      background-color: rgba(0,0,0,0.04);
    }
    .dark-background & {
      background-color: rgba(255,255,255,.2);
    }
  }
  b,
  strong {
    @include color-set($dark-primary, $light-primary);
  }
  // TABLES
  table {
    th {
      @include color-set($dark-primary, $light-primary);
    }
    tr {
      .light-background &, & {
        border-top: 1px solid $dark-tertiary;
        &:first-child {
          border-top: none;
        }
      }
      .dark-background & {
        border-top: 1px solid $light-tertiary;
        &:first-child {
          border-top: none;
        }
      }
    }
  }

  //FORMS
  .form_field_textfield,
  .form_field_textarea {
    &, .light-background & {
      border: 1px solid $dark-tertiary;
    }
    .dark-background {
      border: 1px solid $light-tertiary;
    }
  }
  .form_submit input {
    @include color-set($dark-secondary, $light-secondary);
    .light-background &, & {
      background-color: #efefef;
      background-color: $light-primary;
      @include background(linear-gradient(to bottom, $light-secondary 0%, $light-primary 100%));
      border: 1px solid $dark-tertiary;
    }
    .dark-background & {
      background-color: #1f1f1f;
      background-color: $dark-primary;
      @include background(linear-gradient(to bottom, $dark-secondary 0%, $dark-primary 100%));
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000',GradientType=0 ); /* ie */
      border: 1px solid $light-tertiary;
    }
  }
  .form_error,
  .form_field_error {
    color: $red;
  }
  .form_field_with_errors {
    .form_field_textfield,
    .form_field_textarea {
      @include border(all, 1px, solid, $red);
    }
  }
  .form_notice {
    color: $green;
  }
}

.search {
  input {
    @include color-set($dark-secondary, $light-secondary);
    @include placeholder {
      @include color-set(bgrey(0.5), wgrey(0.5));
    }
    .dark-background & {
      @include placeholder {
        color: $light-secondary;
      }
      color: $light-secondary;
    }
  }
  form {
    &, .light-background &, .dark-background .js-modal-overlay & {
      border: 1px solid bgrey(0.1);
    }
    .dark-background :not(.active) & {
      border: 1px solid $light-tertiary;
    }
  }
  form,
  .search-input {
    background: none;
  }
  .search-submit,
  .search-btn {
    .light-background &, & {
      .no-svg & {
        background-image: url("../images/ico-search.png");
        background-size: 20px;
      }
      .svg & {
        background-image: url("../assets/ico-search-dark.svg");
      }
    }
    .dark-background :not(.active) & {
      .no-svg & {
        background-image: url("../images/ico-search.png");
        background-size: 20px;
      }
      .svg & {
        background-image: url("../assets/ico-search.svg");
      }
    }
  }
  .search-clear {
    .light-background &, & {
      .no-svg & {
        background-image: url("../images/close-round-dark.png");
      }
      .svg & {
        background-image: url("../assets/close-round-dark.svg");
      }
    }
    .dark-background :not(.active) & {
      .no-svg & {
        background-image: url("../images/close-round.png");
        background-size: 20px;
      }
      .svg & {
        background-image: url("../assets/close-round.svg");
      }
    }
  }
}
.search.js-modal-overlay.active {
   input {
    color: $dark-secondary;
    @include placeholder {
      color: $dark-secondary;
    }
  }
  .search-clear {
    .no-svg & {
      background-image: url("../images/close-round-dark.png");
    }
    .svg & {
      background-image: url("../assets/close-round-dark.svg");
    }
  }
  .search-submit,
  .search-btn {
    .no-svg & {
      background-image: url("../images/ico-search-dark.png");
      background-size: 20px;
    }
    .svg & {
      background-image: url("../assets/ico-search-dark.svg");
    }
  }
}

.voog-search-modal {
  @include box-shadow(0, 15px, 30px, rgba(0,0,0,.5));
  color: $dark-primary;
  a {
    color: $dark-primary;
    &:hover,
    &:active {
      color: $dark-hover;
    }
  }
}

// MOBILE MENU
.mobile-menu-wrapper {
  color: $light-primary;
  @include query($tablet-2) {
    .light-background &, & {
      background-color: rgba(0,0,0,.8) !important;
    }
    .dark-background & {
      background-color: rgba(255,255,255,.2) !important;
    }
    .mobile-menu-main {
      background-color: rgba(255,255,255,.15) !important;
      .pages {
        border-bottom: 1px solid rgba(255,255,255,.45);
      }
    }
    a {
      color: $light-primary;
      &:hover,
      &:active {
        color: $light-hover;
      }
    }
    ul li {
      border-bottom: 1px solid rgba(255,255,255,.15);

    }
    ul ul li {
      border-bottom: 1px solid rgba(255,255,255,.15);
      &:first-child {
        border-top: 1px solid rgba(255,255,255,.15);
      }
    }
    .search-btn {
      .no-svg & {
        background-image: url("../images/ico-search.png");
        background-size: 20px;
      }
      .svg & {
        background-image: url("../assets/ico-search.svg");
      }
    }
  }
}

// SIDEBAR NEWS
.news {
  .date,
  .author {
    @include color-set($dark-tertiary, $light-tertiary);
  }
  a {
    @include color-set($dark-primary, $light-primary);
    &:hover,
    &:active {
      @include color-set($dark-hover, $light-hover);
    }
  }
}

// FOOTER
.footer {
  .content-formatted {
    @include color-set($dark-secondary, $light-secondary);
  }
}

.voog-reference {
  .light-background &, & {
    a {
      border: 1px solid $dark-tertiary;
      color: $dark-secondary;
      opacity: 0.7;
    }
    a:hover {
      opacity: 1.0;
    }
  }
  .dark-background & {
    a {
      border: 1px solid $light-tertiary;
      color: $light-secondary;
      opacity: 0.7;
    }
    a:hover {
      opacity: 1.0;
    }
  }
}
