// Styling rules for the site's editable content areas.
// NB! Each editable content-area - {% content %} - should be wrapped in the element that has the "content-formatted" class.
// NB! Contact forms, image galleries and tables styling rules are located in the separate partials: "_forms.scss", "_gallery.scss" and "_tables.scss".
.content-formatted {
  @extend %clearfix;
  @include hyphenate(true);

  &:empty {
    display: none;
  }

  display: block;

  // Resets the bottom margin for all elements and top margin for all first elements in the editable content-area (to prevent unwanted white-space at the beginning of a content-area).
  h1, h2, h3, h4, h5, h6, p, ul, ol, pre, code, table form, .edy-partial-view {
    .content-formatted > &:first-child {
      margin-top: 0;
    }

    .content-formatted > &:last-child {
      margin-bottom: 0;
    }
  }

  // Styling rules for the editable content area headings.
  h1, h2, h3, h4, h5, h6 {
    @include hyphenate(true);
  }

  .content-header h1 {
    font-size: 1em;
    line-height: 1;
    padding-bottom: 0;
  }

  h1,  {
    margin: 0;
    padding-bottom: 20px;
    font-weight: 700;
    font-size: 2em;
    line-height: 1.2;
  }

  h2 {
    margin: 0;
    padding-bottom: 20px;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1.5em;
    line-height: 1.2;
  }

  h3, h4, h5, h6 {
    margin: 0;
    padding-bottom: 20px;
    font-weight: 400;
    font-size: 1.25em;
    line-height: 1.2;
  }
  h4 { font-size: 115%; }
  h5 { font-size: 105%; }
  h6 { font-size: 95%; }

  // Styling rules for the editable content area paragraphs, lists and links.
  p {
    margin: 0;
    padding-bottom: 30px;
    &:last-child {
      padding-bottom: 0;
    }
  }

  ul {
    margin: 0;
    padding: 0 0 20px 15px;
    margin-left: 15px;

    li {
      position: relative;
      padding: 0;
      line-height: 1.7;
    }
    ul {
      padding-bottom: 0;
      margin-left: 5px;
    }
  }

  ol {
    margin: 0;
    padding: 0 0 20px 5px;
    li {
      margin-left: 25px;
    }
  }

  a {
    font-weight: 500;

    &:hover {
      text-decoration: none;
    }
  }

  // Styling rules for the editable content area images, embedded videos, preformatted texts, code examples etc.
  iframe {
    max-width: 100%;
  }

  iframe, pre {
    margin-bottom: 20px;
  }

  .embed-container {
    margin-bottom: 20px;
  }

  pre {
    padding: 10px;
    margin-bottom: 0;
    font-size: 14px;
    overflow: auto;
  }
  pre code {
    display: block;
    white-space: pre-wrap;
    margin-top: 0;
    padding: 0;
  }
  code {
    margin-bottom: 20px;
    display: inline-block;
  }

  b, strong {
    font-weight: 600;
  }

  // Content area image title
  .edy-image-container-with-title {
    &:after {
      display: block;
      padding: 2px;
      font-size: 12px;
      line-height: 1.3;
      content: attr(data-title);
    }
  }

  .custom-btn {
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: .12em 1.18em;
    color: $dark-secondary;
    font-size: 95%;
    line-height: 1.7;
    border: 1px solid $dark-tertiary;
    border-radius: 2px;
    cursor: pointer;

    .dark-background & {
      color: $light-primary;
      border-color: $light-tertiary;
    }
  }

  /* TABLES */
  // Styling rules for the site's editable content area tables.
  // NB! Works only if editable content-area - {% content %} -  is wrapped into the element that has the "content-formatted" class.

  // Container around editable content-area table.
  .table-container {
    margin-top: 20px;
  }

  // Overthrow plugin to support horizontal scrolling on older devices that have touch-screens. For example Android 2.3 devices.
  .overthrow {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
  }

  table {
    margin-bottom: 20px;
    width: 100%;
    border-collapse: collapse;
    text-align: left;

    th {
      font-weight: 600;
    }

    td {
      padding: 5px 0;
    }
  }

  .edy-texteditor-view {
    min-height: 32px;
  }

  .edys-gallery-area {
    margin-top: 20px;
    &:first-child {
      margin-top: 0;
    }
  }
  .edy-partial-view {
    margin-bottom: 20px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  .edy-positionable-container-left {
    margin: 0 30px 20px 0;
  }
  .edy-positionable-container-right {
    margin: 0 0 20px 30px;
  }
}
