/* FORMS */
// Styling rules for the site's form-fields area. These rules affect the entire site's form-fields that are in the editable content area.
.content-formatted {
  form {
    max-width: 100%;
    p:last-child {
      padding-bottom: 0;
    }
  }

  .form_field,
  .edy-fe-label {
    margin-bottom: 2px;
    font-size: 0.9em;
  }

  .form_field {
    margin-top: 25px;
    &:first-child {
      margin-top: 0;
    }
    &:last-of-type {
      margin-bottom: 20px;
    }
  }

  .form_field_required {
    label:after {
      content: ' *';
    }
  }

  .form_field .form_field_label {
    font-weight: 600;
  }

  .form_field label,
  .edy-fe-label {
    display: block;
    margin-bottom: 2px;
    font-weight: 400;
    font-family: inherit;
    cursor: pointer;
  }

  .form_field_textfield,
  .form_field_textarea,
  .form_field_select,
  .form_field_file,
  .form_submit input {
    @include box-shadow(0, 2px, 4px, rgba(0,0,0,.04));
    font-size: 0.9em;
    font-family: inherit;
    line-height: 1.2em;
    &:focus {
      outline: none;
    }
  }
  .form_field_textfield,
  .form_field_textarea,
  .form_field_select,
  .form_field_file {
    max-width: 100%;
    @include no-box-shadow;
  }
  .form_field_textfield,
  .form_field_textarea {
    box-sizing: border-box;

    @include query($mobile-2) {
      width: 100%;
    }
    margin: 0;
    padding: 5px 5px 4px;
    border-radius: 3px;
  }
  .form_field_textarea {
  }
  .form_field_select {
  }

  .form_field_size_small {
    width: 30%;
    @include query($mobile-2) {
      width: 100%;
    }
  }

  .form_field_size_medium {

    @include query($mobile-2) {
      width: 100%;
    }
    width: 70%;
  }
  .form_field_size_large {
    width: 100%;
  }

  .form_submit {
    margin-top: 10px;
    margin-bottom: 23px;

    input {
      padding-right: 20px;
      padding-left: 20px;
      height: 35px;
      border-radius: 2px;
      font-size: 95%;
      cursor: pointer;
    }
  }

  input[type="checkbox"],
  input[type="radio"] {
    vertical-align: 1px;
    margin: 5px;
  }
}
