/* GENERAL */
// Styling rules for the basic parts of the page. These rules affect the entire site.
body {
  margin: 0;
  padding: 0;
  background-color: white;
  background-color: rgba(255,255,255,1);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  font-weight: 400;
  font-size: 18px;
  font-family: $font;
  line-height: 1.45;
}
 // Layout specific body classes

  .background-image,
  .background-color {
    z-index: -1;
  }

  .background-image {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .background-color {
    opacity: 1.0;
  }

 .front-page {
    .content {
      @include query($tablet-2) {
        padding: 0 20px;
      }
    }
    .content-left {
      @include query($tablet-1) {
        padding: 0 20px;
        width: 45%;
      }
      @include query($tablet-2) {
        margin-bottom: 20px;
        padding: 0;
        width: 100%;
        &.last {
          margin-top: 20px;
        }
      }
      max-width: 480px;
      width: 50%;
    }

    .content-header {
      @include query($tablet-2) {
        padding: 0;
        h1 {
          font-size: 30px !important;
        }
      }
    }

    .content-right {
      @include query($tablet-1) {
        margin-right: 20px;
        width: 33%;
        width: calc(35% - 20px);
        min-height: initial;
      }
      @include query($tablet-2) {
        box-sizing: border-box;
        margin-right: 0;
        padding: 40px;
        width: 100%;
        .content-body {
          margin: 0;
        }
        min-height: initial;
      }
      padding: 40px;
      padding: 6%;
      width: 37%;
      min-height: 360px;
    }

    .content-body {
      @include query($tablet-1) {
        padding: 15px 20px;
      }
      position: relative;
      padding: 25px 30px;
      line-height: 1.45;
      &:empty {
        padding: 0;
      }
    }

    .content-right,
    .content-left {
      @include query($tablet-2) {
        display: block;
      }
    }
  }

  .common-page {
    .content {
      @include query($tablet-2) {
        padding: 0 20px;
      }
      .content-right {
        @include query($tablet-2) {
          margin-left: 0;
          padding: 0;
        }
        float: none;
        margin-left: 200px;
        padding-left: 15px;
        width: auto;
        padding-right: 20px;

        @media screen and (min-width: 1004px) {
          left: 20px;
        }

        h1 {
          @include query($tablet-2) {
            font-size: 200%;
          }
        }
      }
      .content-left {
        @include query($tablet-2) {
          display: none;
        }
        float: left;
        clear: left;
        min-height: 10px;
        width: 170px;
      }
    }


    .content-centered {
      @include query($tablet-2) {
        padding: 0;
      }
      padding: 0 12%;
    }

    .content-header {
      @include query($tablet-2) {
        margin-top: 0;
      }
    }

    .content-body {
      margin-top: 0;
    }
 }

  .blog-page,
  .post-page {
    .content {
      @include query($tablet-2) {
        padding-top: 29px;
        padding-bottom: 30px;
      }
      padding: 41px 20px 60px;
    }

    .content-centered {
      @include query($tablet-2) {
        padding: 0;
      }
      padding: 0 12%;
    }
  }

  .blog-page {

  }

  .post-page {
    position: relative;
    .content {
      @include query($tablet-2) {
        padding-top: 30px;
        padding-bottom: 30px;
      }
      padding: 60px 20px 60px;
    }

    .content-centered {
      @include query($tablet-2) {
        padding: 0;
      }
      padding: 0 12%;
    }
  }

// Pseudo classes for declaring commonly used styling rules for different elements.
%clearfix:after {
  display: table;
  clear: both;
  content: "";
}

%stretch {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

%inline-block {
  display: inline-block;
}

%button {
  margin: 0;
  border: none;
  background: none;
  cursor: pointer;

  &, &::-moz-focus-inner {
    padding: 0;
  }

  &:focus {
    outline: none;
  }

  &::-moz-focus-inner {
    border: none;
  }
}

.background-image,
.background-color {
  @extend %stretch;
  position: absolute;
}

// Styling rules for the main container that affects the entire site's other elements.
.container {
  margin: 0 auto;
  max-width: 960px;

  @include query($tablet-1) {
    max-width: 1000px;
  }

  @include query($tablet-2) {
    position: relative;
  }

  a {
    text-decoration: none;

    img {
      border: none;
    }
  }

  .global-background-settings {
    top: 0;
    left: 0;

    @include query($tablet-2) {
      top: -35px;
      left: 10px;
    }
  }
}

// override BGpicker default styles to move and
// position them more conveniently on mobile devices
.header-wrapper .edy-bgpicker-toggle-button {
  z-index: 13;
}

body > .bgpicker-toggle-button,
body .header-wrapper .edy-bgpicker-toggle-button {
  margin-top: 10px !important;
  margin-left: 10px !important;
  z-index: 13;
}
.edy-bgpicker-toggle-button {
  margin: 5px !important;
  @include query($tablet-2) {
    margin: 0 !important;
    body > & {
      margin-top: 45px !important;
      z-index: 10;
    }
  }
}

.hidden {
  display: none;
}
