// General colors
$dark-primary: rgba(0,0,0,.8);
$dark-secondary: rgba(0,0,0,.6);
$dark-tertiary: rgba(0,0,0,.3);
$dark-hover: rgba(0,0,0,1);
$dark-hover2: rgba(0,0,0,.7);

$light-primary: rgba(255,255,255,.8);
$light-secondary: rgba(255,255,255,.6);
$light-tertiary: rgba(255,255,255,.3);
$light-hover: rgba(255,255,255,1);
$light-hover2: rgba(255,255,255,.7);

// form error/success colors
$red: #cc0000;
$green: #60a740;

// link underline colors
$link-rgba-light: rgba(0,150,255,.2);
$link-rgba-hover-light: rgba(0,150,255,.3);
$link-rgba-dark: rgba(0,150,255,.4);
$link-rgba-hover-dark: rgba(0,150,255,.6);

$link-solid: #CBE9FE;
$link-solid-hover: #B0DEFD;

// Media queries
$tablet-1: 980px;
$tablet-2: 752px;
$tablet-3: 506px;

$mobile-1: 480px;
$mobile-2: 420px;

/// NEW
$h1-size: 36px;
$h2-size: 27px;
$h3-size: 23px;
$font-size: 18px;

/// TEMPORARY STYLES FOR SETTING UP DESIGN EDITOR

// VARIABLES

// Media queries
$tablet: 999px;
$mobile: 640px;

$site-width: 940px;

// Colors
$color-white: rgb(255, 255, 255);
$color-black: rgb(0, 0, 0);

$color-one: #222; // replaced by $color-two in design editor
// rgb(34,34,34)

$color-two: #333;
// rgb(51,51,51)

$color-three: #888; // replaced by $color-four in design editor
// rgb(136,136,136)

$color-four: #919191; 
// rgb(145,145,145)

$color-error: #c33; //rgb(204,51,51)
$color-notice: #3c3; // rgb(51,204,51)

// Fonts
$font-one: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-two: "EB Garamond", "Georgia", serif;


$line-height: 1.4;

$color-one: $color-two; 
$color-three: $color-four;