// General colors
$color-black: rgba(0,0,0,1);
$dark-primary: rgba(0,0,0,.8);
$dark-secondary: rgba(0,0,0,.6);
$dark-tertiary: rgba(0,0,0,.3);
$dark-hover: rgba(0,0,0,1);
$dark-hover2: rgba(0,0,0,.7);

$color-white: rgba(255,255,255,1);
$light-primary: rgba(255,255,255,.8);
$light-secondary: rgba(255,255,255,.6);
$light-tertiary: rgba(255,255,255,.3);
$light-hover: rgba(255,255,255,1);
$light-hover2: rgba(255,255,255,.7);

// form error/success colors
$red: #cc0000;
$green: #60a740;

// link underline colors
$link-rgba-light: rgba(0,150,255,.2);
$link-rgba-hover-light: rgba(0,150,255,.3);
$link-rgba-dark: rgba(0,150,255,.4);
$link-rgba-hover-dark: rgba(0,150,255,.6);

// Sign out button
$color-common-gray: rgb(27,33,36);
$color-toolbar-bg: rgb(238,238,238);
$color-silver-2: rgb(196,196,196);

$link-solid: #CBE9FE;
$link-solid-hover: #B0DEFD;

$disabled-light: #dadada;
$disabled-dark: #333;

$color-science-blue: #06b;

// Media queries
$tablet-1: 980px;
$tablet: 768px;
$tablet-2: 752px;
$mobile: 640px;
$tablet-3: 506px;
$break-small: 500px;

$mobile-1: 480px;
$mobile-2: 420px;
$nano: 320px;

/// FONTS
$font: 'Source Sans Pro', sans-serif;
$avenir: 'Avenir Next', 'AvenirX';
$h1-size: 36px;
$h2-size: 27px;
$h3-size: 23px;
$font-size: 18px;
