// General colors
$dark-primary: rgba(0,0,0,.8);
$dark-secondary: rgba(0,0,0,.6);
$dark-tertiary: rgba(0,0,0,.3);
$dark-hover: rgba(0,0,0,1);
$dark-hover2: rgba(0,0,0,.7);

$light-primary: rgba(255,255,255,.8);
$light-secondary: rgba(255,255,255,.6);
$light-tertiary: rgba(255,255,255,.3);
$light-hover: rgba(255,255,255,1);
$light-hover2: rgba(255,255,255,.7);

// form error/success colors
$red: #cc0000;
$green: #60a740;

// link underline colors
$link-rgba-light: rgba(0,150,255,.2);
$link-rgba-hover-light: rgba(0,150,255,.3);
$link-rgba-dark: rgba(0,150,255,.4);
$link-rgba-hover-dark: rgba(0,150,255,.6);

$link-solid: #CBE9FE;
$link-solid-hover: #B0DEFD;

$disabled-light: #dadada;
$disabled-dark: #333;

// Media queries
$tablet-1: 980px;
$tablet-2: 752px;
$tablet-3: 506px;

$mobile-1: 480px;
$mobile-2: 420px;

/// FONTS
$font: 'Source Sans Pro', sans-serif;
$h1-size: 36px;
$h2-size: 27px;
$h3-size: 23px;
$font-size: 18px;
