/* COMMENTS */
// Styling rules for the blog article single article comments area.
// Comment form is styled using the form fields styles located in the "_forms.scss" partial.
.comments {
  font-size: 0.9em;
  margin-top: 60px;
  .comment-author {
    border: none !important;
    box-shadow: none !important;
  }
  .comment-inner {
    display: inline-block;
    width: 90%;
  }
  .comment-title {
    text-transform: uppercase;
    line-height: 1.2em;
    font-weight: 600;
    font-size: 1.2em;
    padding-top: 60px;
  }
  .comment-messages {
    padding: 0 0 20px;
  }
  .comment-header {
    line-height: 1.7em;
  }
  .comment {
    margin-bottom: 20px;
    line-height: 1.45em;
  }
  .comment-form .comment-title {
    font-size: 1.2em;
    padding-top: 30px;
  }
}
