.news {
  @include query($tablet-2) {
    padding: 0;
  }
  display: block;
  margin-top: 0 !important;

  .news-header {
    margin: 0;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1.35em;
    line-height: 1.2em;
    .content-body & {
      margin-bottom: 10px;
    }
  }

  ul {
    padding: 0;
    margin: 0;
    list-style: none;
    .news-item {
      padding: 0 0 5px;
      max-width: 100%;
      line-height: 1.3em;
      &:last-child {
        padding-bottom: 0;
      }
      &:before {
        display: none;
        margin: 0;
        padding: 0;
        content: '';
      }
    }
  }

  .date,
  .author {
    white-space: nowrap;
    line-height: 1.2em;
  }

  .date {
    margin-left: 10px;
  }

  .link {
    display: inline;
    text-decoration: none;
    line-height: 1.2em;
    border: none !important;
    box-shadow: none !important;

    &:hover {
      text-decoration: none;
    }
  }

  .more-news {
    display: inline-block;
    margin-top: 10px;
  }
}
