/* SEARCH */
// Styling rules for the site's search box. These rules affect the entire site.
.search,
.search-form {
  @extend %clearfix;

  .not-empty {
    .search-clear {
      display: inline-block;
    }
  }
}

.search {
  @include query($tablet-2) {
    display: none;

    &.active {
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 10;
      display: block;
      margin: 0;
      padding: 0;
      width: 100%;
      height: 100%;
    }
  }
  position: absolute;
  top: 10px;
  right: 0;
  display: inline-block;
  margin-top: -4px;
  margin-left: 15px;
  width: 225px;
  height: 36px;
  vertical-align: middle;
  line-height: 1;
}

.search-inner {
  @include box-sizing(border-box);
  @include query($tablet-2) {
    position: absolute;
    top: 41px;
    padding: 0 20px;
    width: 100%;
  }
}

.search-form {
  @include query($tablet-2) {
    border-radius: 0;
    &, &.active {
      margin: 0 auto;
      border: none;
    }
  }
  position: relative;
  z-index: 20;
  border-radius: 30px;
}

.search-input {
  -webkit-appearance: none;
}

.search-input,
.search-submit {
  &:focus {
    outline: none;
  }
}

.search-submit,
.search-btn,
.search-clear {
  display: inline-block;
  padding: 0;
  width: 30px;
  height: 100%;
  border: none;
  background-position: center;
  background-repeat: no-repeat;
  vertical-align: top;
  line-height: 41px;
  opacity: 0.5;
  cursor: pointer;
  &:hover {
    opacity: 0.25;
  }
  &:focus {
    outline: none;
  }
}

  .search-clear {
    @include query($tablet-2) {
      background-position: 4px 3px;
      background-size: 40px !important;
    }
    top: 1px !important;
    display: none;
    background-position: 5px 7px;
    background-size: 25px;
    &:hover {
      opacity: 0.25;
    }
  }

.search-input {

  @include placeholder {
    padding: 4px 0 4px 0;
    line-height: 1;
  }

  margin: 0;
  padding: 0 50px 0 15px;
  height: 35px;
  border: none;
  background: none;
  vertical-align: middle;
  font-size: 1em;
  font-family: inherit;
  line-height: 1;
  &::-moz-placeholder {
    @include query($tablet-2) {
      line-height: 1.6;
    }
    line-height: 2;
  }
  // @include box-sizing(border-box);

  @include query($tablet-2) {
    padding-right: 50px;
    padding-left: 10px;
    width: 85%;
    height: 40px;
    font-size: 24px;
  }

  // Removes the clear input button in IE11
  &::-ms-clear {
    display: none;
  }
}

.search-submit,
.search-clear {

  @include query($tablet-2) {
    right: 0;
    width: 40px;
    height: 40px;
    background-size: 32px;
  }
  position: absolute;
  top: 0;
  right: 5px;
  background-color: transparent;
}

.search-btn {
  @extend %button;
  @include query($tablet-2) {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    margin-right: 40px;
  }
  display: none;
  font-size: 0;
}

.js-modal-overlay.active {
  .search-inner {
    form {
      background: white;
    }
  }
}

body .voog-search-modal {
  @include query($tablet-2) {
    top: 83px !important;
    right: 0 !important;
    left: 0 !important;
    bottom: 0 !important;
    max-height: 100%;
    width: 100%;
    box-shadow: 0 15px 30px rgba(0,0,0,0.2);
  }
  z-index: 30;
  padding: 20px;
  max-height: 75%;
  background: white;
  text-align: left;
  font-size: 0.8em;
  line-height: 1.5;
  &.search-results-active {
    display: block;
  }
  &.no-content {
    font-weight: 600px;
    font-size: 18px;

  }
}
