/* BLOG & BLOG ARTICLE */
// Styling rules for both - the blog listing view and the blog single article view
.post {
  .post-header {
  }

  .post-meta {
    line-height: 1.85em;
  }

  .post-title {
    margin-top: 6px;
    margin-bottom: 0;
    line-height: 1.2em;

    &, a {
      @include color($secondary-color);
      @include query($tablet-2) {
        font-size: 30px;
      }
      font-weight: 300;
      font-size: 40px;
    }

    a {
      &:hover {
        @include color($secondary-color, 0.8);
      }
    }
  }

  .post-date {
    @include color($grey-5);
    font-size: 15px;
  }

  .comments-count {
    @include color($secondary-color);
    display: inline-block;
    padding: 4px 3px 2px;
    min-width: 14px;
    min-height: 14px;
    border: 1px solid $grey-2;
    border-radius: 50%;
    vertical-align: 1px;
    text-align: center;
    font-size: 12px;
    line-height: 1em;
  }

  .post-content {
    margin-top: 18px;

    .post-excerpt {
    }

    .post-body {
      margin-top: 20px;
    }
  }

  .read-more {
    display: inline;
  }

  .post-footer {
    .post-author {
      font-size: 12px;
    }
  }

  .post-comments-count {
    a {
      @include color($blue-1);
      font-size: 14px;

      &:hover {
        @include color($blue-1, 0.8);
      }
    }
  }

  .tags {
    position: relative;
    margin-top: 30px;
    padding: 15px 0;
    padding-left: 25px;
    border-top: 1px solid $grey-2;
    border-bottom: 1px solid $grey-2;
    font-size: 12px;

    .tag-icon {
      position: absolute;
      left: 0;
      margin-top: 2px;
      margin-right: 7px;
      width: 16px;
      height: 16px;
      background: url('../images/tag.png') no-repeat center center;
      opacity: 0.5;
      filter: alpha(opacity=50);
    }
    .svg & {
      background: url('../images/tag.svg') no-repeat center center;
    }

    .tags-list {
      line-height: 1em;
    }

    .tag-link {
      @include color($secondary-color);
      text-decoration: none;
      &:hover {
        @include color($secondary-color);
        text-decoration: underline;
      }
    }
  }
}

// Style rules for the blog listing view only
.blog-page {
  .post {
    margin-bottom: 30px;

    &:last-child {
      margin-bottom: 0;
      padding-bottom: 0;
      border-bottom: none;
    }
  }
  .tagged-list-header {
    @include color($black);
    @include query($tablet-2) {
      padding-right: 0;
      padding-left: 38px;
    }
    position: relative;
    margin: 0 20px;
    padding: 17px 11.5%;
    border-bottom: 1px solid $grey-2;
    font-size: 24px;
    .tag-icon {
      position: absolute;
      margin-top: 6px;
      margin-left: -42px;
      width: 32px;
      height: 32px;
      background: url('../images/tag2.png') no-repeat center center;
      opacity: 0.5;
      filter: alpha(opacity=50);
    }
    .svg & {
      background: url('../images/tag.svg') no-repeat center center;
    }
  }


}

// Style rules for the blog single article view only
.post-page {
  .post {
  }
}
