/* BLOG & BLOG ARTICLE */
// Styling rules for both - the blog listing view and the blog single article view
.post {
  padding-top: 30px;
  .post-meta {
    margin-bottom: 5px;
    line-height: 1.2em;
  }

  .post-title {
    margin-bottom: 5px;
    padding-bottom: 0;
    line-height: 1.2em;

    &, a {
      @include query($tablet-2) {
        font-size: 30px;
      }
      font-weight: 700;
      font-size: 40px;
    }

    a {
      &:hover {
        text-decoration: none;
      }
    }
  }

  .post-date {
    font-size: 15px;
  }

  .comments-count {
    display: inline-block;
    padding: 4px 3px 2px;
    min-width: 14px;
    min-height: 14px;
    border-radius: 50%;
    vertical-align: 1px;
    text-align: center;
    font-size: 12px;
    line-height: 1em;
    &:hover { 
      text-decoration: none;
    }
  }

  .post-content {
    .post-excerpt {
      .post-page & {
        margin-bottom: 10px;
      }
    }
    .post-body {
      .post-page & {
        margin-bottom: 15px;
      }
    }
  }

  .read-more {
    display: inline-block;
    margin-top: 5px;
  }

  .post-footer {
    .post-author {
      font-size: 12px;
    }
  }

  .tags {
    position: relative;
    margin: 20px 0;
    padding: 15px 0;
    padding-left: 25px;
    font-size: 0.9em;
    line-height: 1.2em;

    .tag-icon {
      position: absolute;
      left: 0;
      margin-top: 4px;
      margin-right: 7px;
      width: 16px;
      height: 16px;
      background: url('../images/tag.png') no-repeat center center;
      opacity: 0.5;
      .svg & {
        background: url('../assets/tag.svg') no-repeat center center;
      }
    }

    .tag-link {
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

// Style rules for the blog listing view only
.blog-page {
  .post {
    &:last-child {
      margin-bottom: 0;
      padding-bottom: 0;
      border-bottom: none;
    }
  }
  .tagged-list-header {
    margin: auto;
    max-width: 960px;
    font-size: 0.9em;
    line-height: 50px;
    margin-bottom: 30px;
    .menu-item {
      margin-right: 10px;
    }
  }
}

.post-page {
  .post {
    padding: 0;
  }
}
