/* BLOG & BLOG ARTICLE */
// Styling rules for both - the blog listing view and the blog single article view
.post {
  .post-header {
  }

  .post-meta {
    line-height: 1.85em;
  }

  .post-title {
    margin-top: 6px;
    margin-bottom: 0;
    line-height: 1.2em;

    &, a {
      font-size: 40px;
      font-weight: 300;
      @include color($secondary-color);
    }

    a {
      &:hover {
        @include color($secondary-color, 0.8);
      }
    }
  }

  .post-date {
    font-size: 15px;
    @include color($grey-5);
  }

  .post-content {
    margin-top: 18px;

    .post-excerpt {
    }

    .post-body {
      margin-top: 20px;
    }
  }

  .read-more {
    display: inline;
  }

  .post-footer {
    .post-author {
      font-size: 12px;
    }
  }

  .post-comments-count {
    a {
      font-size: 14px;
      @include color($blue-1);

      &:hover {
        @include color($blue-1, 0.8);
      }
    }
  }
}

// Style rules for the blog listing view only
.blog-page {
  .post {
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 50px;

    &:last-child {
      margin-bottom: 0;
      padding-bottom: 0;
      border-bottom: none;
    }
  }
}

// Style rules for the blog single article view only
.post-page {
  .post {
  }
}
