// GLOBAL
body {
  &.light-background {
    color: $dark-primary;
    .background-color {
      background-color: none;
    }
  }
  &.dark-background {
    color: $light-primary;
    .background-color {
      background-color: none;
    }
  }
}

// HEADER
.header {
  .header-title, .header-title a {
    @include color-set($dark-primary, $light-primary);
    @include query($tablet-2) {
      color: $light-hover !important;
      &:hover {
        color: $light-hover !important;
      }
    }
  }
  .menu-link {
    @include color-set($dark-primary, $light-primary);
    &.active, &:hover {
      @include color-set($dark-hover, $light-hover);
    }
  }
  .langmenu {
    @include color-set($dark-primary, $light-primary);
    .light-background &, & {
      border: 1px solid $dark-tertiary;
    }
    .dark-background & {
      border: 1px solid $light-tertiary;
    }
    .langmenu-content {
      @include color-set($dark-secondary, $light-secondary);
      &:before {
        .light-background &, & {
          border-color: rgba(255,255,255,.01);
          border-top-color: rgba(0,0,0,.1);
        }
        .dark-background & {
          border-color: rgba(0,0,0,.01);
          border-top-color: rgba(255,255,255,.3);
        }
      }
    }
    .langmenu-arrow,
    .langmenu-arrow2 {
      .light-background &, & {
        border-color: rgba(0,0,0,.01);
        border-bottom-color: #f7f7f7;
      }
      .dark-background & {
        border-color: rgba(255,255,255,.01);
        border-bottom-color: #444444;
      }
    }
    ul {
      .light-background &, & {
        @include box-shadow(0, 10px, 20px, rgba(0,0,0,.15));
        background-color: #f7f7f7;
      }
      .dark-background & {
        @include box-shadow(0, 10px, 20px, rgba(255,255,255,.15));
        background-color: #444444;
      }
      a {
        @include color-set($dark-primary, $light-primary);
        &:hover,
        &:active {
          @include color-set($dark-hover, $light-hover);
        }
      }
    }
  }
}

// BLOG POST
.post,  {
  // TITLE
  .post-title {
    &,
    .light-background & {
      &, a {
        color: $dark-primary;
      } 
      a:hover {
        color: $dark-hover;
      }
    }
    .dark-background & {
      &, a {
        color: $light-primary;
      }
      a:hover {
        color: $light-hover;
      }
    }
  }
  // DATE
  .post-date {
    @include color-set($dark-tertiary, $light-tertiary);
  }
  // COMMENTS COUNT
  .comments-count {
    @include color-set($dark-tertiary, $light-tertiary);
    &,
    .light-background & {
      border: 1px solid $dark-tertiary;
    }    
    .dark-background & {
      border: 1px solid $light-tertiary;
    }
    &:hover {
      @include color-set($dark-hover2, $light-hover2);
      &,
      .light-background & {
        border: 1px solid $dark-hover2;
      }    
      .dark-background & {
        border: 1px solid $light-hover2;
      }
    }
  }
  .read-more {
    @include color-set($dark-tertiary, $light-tertiary);
    &:hover {
      @include color-set($dark-hover2, $dark-hover2);
    }
  }
  // TAGS
  .tags {
    &,
    .light-background & {
      border-top: 1px solid $dark-tertiary;
      border-bottom: 1px solid $dark-tertiary;
    }    
    .dark-background & {
      border-top: 1px solid $light-tertiary;
      border-bottom: 1px solid $light-tertiary;
    }
    .tag-link {
      @include color-set($dark-primary, $light-primary);
      &:hover {
        @include color-set($dark-hover, $light-hover);
      }
    }
  }
}
.blog-page .tagged-list-header {
  @include color-set($dark-tertiary, $light-tertiary);
  .light-background &, & {
    border-top: 1px solid rgba(0,0,0,.1);
    border-bottom: 1px solid rgba(0,0,0,.1);
  }
  .dark-background & {
    border-top: 1px solid rgba(255,255,255,.1);
    border-bottom: 1px solid rgba(255,255,255,.1);
  }
  .menu-link {
    @include color-set($dark-tertiary, $light-tertiary);
    &:hover {
      @include color-set($dark-hover2, $light-hover2);
    }
    &.active {
      @include color-set($dark-primary, $light-primary);
    }
  }
}

// COMMENTS
.comments {
  .comment-date {
    @include color-set($dark-tertiary, $light-tertiary);
  }
  .comment-body {
    @include color-set($dark-secondary, $light-secondary);
  }
}

// SIDEBAR MENU

.content-left .menu {
  .menu-item, .submenu {
    border-top: 1px solid rgba(0,0,0,.1);
    .menu-link {
      color: $dark-secondary;
      &.active {
        color: $dark-primary;
      }
    }
  }
  .submenu {
    background: rgba(0,0,0,.02);
  }
}

// FORMATTED CONTENT
.content-formatted {
  h1,h2,h3,h4,h5,h6,
  li:before,
  a {
    @include color-set($dark-primary, $light-primary);
  }
  a:hover {
    @include color-set($dark-hover, $light-hover);
  }
  pre,
  pre code {
    .light-background &, & {
      background-color: rgba(0,0,0,0.04);
    }
    .dark-background & {
      background-color: rgba(255,255,255,.2);
    }
  }
  b,
  strong {
    @include color-set($dark-hover, $light-hover);
  }
  .horizontal-scroll {
    .light-background &, & {
      @include border(left, 1px, dashed, $dark-tertiary);
    }
    .dark-background & {
      @include border(right, 1px, dashed, $light-tertiary);
    }
  }
  // TABLES
  table {
    th {
      @include color-set($dark-primary, $light-primary);
    }
    tr {
      .light-background &, & {
        border-top: 1px solid $dark-tertiary;
        &:first-child {
          border-top: none;
        }
      }
      .dark-background & {
        border-top: 1px solid $light-tertiary;
        &:first-child {
          border-top: none;
        }
      }
    }
  }

  //FORMS
  .form_field_textfield,
  .form_field_textarea {
    &, .light-background & {
      border: 1px solid $dark-tertiary;
    }
    .dark-background {
      border: 1px solid $light-tertiary;
    }
  }
  .form_submit input {
    @include color-set($dark-secondary, $light-secondary);
    .light-background &, & {
      @include background(linear-gradient(to bottom, #f4f4f4 0%, #eaeaea 100%));
      border: 1px solid $dark-tertiary;
    }
    .dark-background & {
      @include background(linear-gradient(to bottom, $dark-secondary 0%, $dark-primary 100%));
      border: 1px solid $light-tertiary;
    }
  }
  .form_error,
  .form_field_error {
    color: $red;
  }
  .form_field_with_errors {
    .form_field_textfield,
    .form_field_textarea {
      @include border(all, 1px, solid, $red);
    }
  }
  .form_notice {
    color: $green;
  }
}

.search {
  input {
    @include color-set($dark-secondary, $light-secondary);
    @include placeholder {
      @include color-set(bgrey(0.5), wgrey(0.5));
    }
    .dark-background .js-modal-overlay.active & {
      color: $dark-secondary;
      @include placeholder {
        color: $dark-secondary;
      }
    }
  }
  form {
    &, .light-background &, .dark-background .js-modal-overlay & {
      border: 1px solid bgrey(0.1);
    }
    .dark-background :not(.active) & {
      border: 1px solid $light-tertiary;
    }
  }
  form,
  .search-input {
    background: none;
  }
  .search-submit,
  .search-btn {
    .light-background &, &, .dark-background .js-modal-overlay & {
      .no-svg & {
        background-image: url("../images/ico-search.png");
        background-size: 20px;
      }
      .svg & {
        background-image: url("../assets/ico-search-dark.svg");
      }
    }
    .dark-background :not(.active) & {
      .no-svg & {
        background-image: url("../images/ico-search.png");
        background-size: 20px;
      }
      .svg & {
        background-image: url("../assets/ico-search.svg");
      }
    }
  }
  .search-clear {
    .light-background &, &, .dark-background .js-modal-overlay & {
      .no-svg & {
        background-image: url("../images/close-round.png");
      }
      .svg & {
        background-image: url("../assets/close-round-dark.svg");
      }
    }
    .dark-background :not(.active) & {
      .no-svg & {
        background-image: url("../images/close-round.png");
        background-size: 20px;
      }
      .svg & {
        background-image: url("../assets/close-round.svg");
      }
    }
  }
}

.voog-search-modal {
  color: $dark-primary;
  @include box-shadow(0, 15px, 30px, rgba(0,0,0,.5));
  a {
    color: $dark-primary;
    &:hover,
    &:active {
      color: $dark-hover;
    }
  }
}

// MOBILE MENU
.mobile-menu-wrapper {
  color: $light-primary;
  .light-background &, & {
    background-color: rgba(0,0,0,.8) !important;
  }
  .dark-background & {
    background-color: rgba(255,255,255,.2) !important;
  }
  .mobile-menu-main {
    background-color: rgba(255,255,255,.15) !important;
    .pages {
      border-bottom: 1px solid rgba(255,255,255,.45);
    }
  }
  a {
    color: $light-primary;
    &:hover,
    &:active {
      color: $light-hover;
    }
  }
  ul li {
    border-bottom: 1px solid rgba(255,255,255,.15); 

  }
  ul ul li {
    border-bottom: 1px solid rgba(255,255,255,.15); 
    &:first-child {
      border-top: 1px solid rgba(255,255,255,.15);
    }
  }
  .search-btn {    
    .no-svg & {
      background-image: url("../images/ico-search.png");
      background-size: 20px;
    }
    .svg & {
      background-image: url("../assets/ico-search.svg");
    }
  }
}

// SIDEBAR NEWS
.news {
  .date,
  .author {
    @include color-set($dark-tertiary, $light-tertiary);
  }
  a {
    @include color-set($dark-primary, $light-primary);
    &:hover,
    &:active {
      @include color-set($dark-hover, $light-hover);
    }
  }
}

// FOOTER
.footer {
  .content-formatted {
    @include color-set($dark-secondary, $light-secondary);
  }
}

.voog-reference {
  .light-background &, & {
    a {
      color: $dark-secondary;
      border: 1px solid $dark-tertiary;
      opacity: 0.7;
    }
    a:hover {
      opacity: 1.0;
    }
  }
  .dark-background & {
    a {
      color: $light-secondary;
      border: 1px solid $light-tertiary;
      opacity: 0.7;
    }
    a:hover {
      opacity: 1.0;
    }
  }
}
