/* COMMENTS */
// Styling rules for the blog article single article comments area.
// Comment form is styled using the form fields styles located in the "_forms.scss" partial.
.comments {
  font-size: 0.9em;
  .comment-inner {
    display: inline-block;
    width: 90%;
  }
  .comment-title {
    text-transform: uppercase;
    line-height: 1.2em;
    font-weight: 600;
  }
  .comment-messages {
    padding: 0 0 10px 0;
  }
  .comment-header {
    line-height: 1.7em;
  }
  .comment {
    margin-bottom: 20px;
    line-height: 1.45em;
    &:before {
      vertical-align: top;
      margin-top: 7px;
    }
  }
  .comment-form {
    margin-top: 30px;
  }
}
