// Styling rules for the site's editable content areas.
// NB! Each editable content-area - {% content %} - should be wrapped in the element that has the "content-formatted" class.
// NB! Contact forms, image galleries and tables styling rules are located in the separate partials: "_forms.scss", "_gallery.scss" and "_tables.scss".
.content-formatted {
  @extend %clearfix;
  word-wrap: break-word;

  // Resets the bottom margin for all elements and top margin for all first elements in the editable content-area (to prevent unwanted white-space at the beginning of a content-area).
  h1, h2, h3, h4, h5, h6, p, ul, ol, pre, code, img, table form, .edy-partial-view {
    .content-formatted > &:first-child {
      margin-top: 0;
    }

    .content-formatted > &:last-child {
      margin-bottom: 0;
    }
  }

  // Styling rules for the editable content area headings.
  h1, h2, h3, h4, h5, h6 {
    @include color($secondary-color);
    word-wrap: break-word;
  }

  h1 {
    margin: 0;
    padding-bottom: 18px;
    font-weight: 300;
    font-size: 268%;
    line-height: 1.2em;
  }

  h2 {
    margin: 0;
    padding-bottom: 15px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 125%;
    line-height: 1.2em;
  }

  h3, h4, h5, h6 {
    margin: 0;
    padding-bottom: 15px;
    font-weight: 600;
    font-size: 115%;
    line-height: 1.2em;
  }
  h4 { font-size: 105%; }
  h5 { font-size: 95%; }
  h6 { font-size: 85%; }

  // Styling rules for the editable content area paragraphs, lists and links.
  p {
    margin: 0;
    padding-bottom: 30px;
  }

  ul {
    margin: 0;
    padding: 0 0 20px 5px;
    list-style: none;

    li {
      padding: 0;
      list-style: none;
      line-height: 1.7em;
      &:before {
        @include color($black);
        display: inline-block;
        padding: 0 11px 0 2px;
        content: "·";
        vertical-align: -11px;
        font-size: 45px;
        line-height: 15px;
      }
    }
  }

  ol {
    margin: 0;
    padding: 0 0 20px 5px;
    li {
      margin-left: 25px;
    }
  }

  a {
    @include color($secondary-color);

    &:hover {
      text-decoration: underline;
    }
  }

  // Styling rules for the editable content area images, embedded videos, preformatted texts, code examples etc.
  img, iframe {
    max-width: 100%;
  }

  img {
    height: auto;
  }

  img, iframe, pre {
    margin-bottom: 20px;
  }

  .embed-container {
    margin-bottom: 20px;
  }

  pre {
    overflow: auto;
    margin: 0;
  }

  code {
    @include bg($grey-4);
    display: block;
    margin-top: 0;
    padding: 10px;
  }

  pre, code {
    margin: 0 0 20px;
    font-size: 14px;
  }

  b, strong {
    @include color($black);
  }

  /* TABLES */
  // Styling rules for the site's editable content area tables.
  // NB! Works only if editable content-area - {% content %} -  is wrapped into the element that has the "content-formatted" class.

  // Container around editable content-area table.
  .table-container {
    margin-top: 20px;
  }

  // Overthrow plugin to support horizontal scrolling on older devices that have touch-screens. For example Android 2.3 devices.
  .overthrow {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
  }

  // Adds dashed border to indicate that the table is too wide and can be scrolled horizontally.
  .horizontal-scroll {
    @include border(left, 1px, dashed, $third-color);
    @include border(right, 1px, dashed, $third-color);
  }

  table {
    margin-bottom: 20px;
    width: 100%;
    border-collapse: collapse;
    font-size: 16px;

    td {
      @include border(top, 1px, solid, $third-color);
      @include border(bottom, 1px, solid, $third-color);
      padding: 10px;
    }
  }

  .edy-texteditor-view {
    min-height: 32px;
  }
}
