// Styling rules for the site's editable content areas.
// NB! Each editable content-area - {% content %} - should be wrapped in the element that has the "content-formatted" class.
// NB! Contact forms, image galleries and tables styling rules are located in the separate partials: "_forms.scss", "_gallery.scss" and "_tables.scss".
.content-formatted {
  @extend %clearfix;
  word-wrap: break-word;

  // Resets the bottom margin for all elements and top margin for all first elements in the editable content-area (to prevent unwanted white-space at the beginning of a content-area).
  h1, h2, h3, h4, h5, h6, p, ul, ol, pre, code, img, table form, .edy-partial-view {
    .content-formatted > &:first-child {
      margin-top: 0;
    }

    .content-formatted > &:last-child {
      margin-bottom: 0;
    }
  }

  // Styling rules for the editable content area headings.
  h1, h2, h3, h4, h5, h6 {
    @include color($secondary-color);
    word-wrap: break-word;
  }

  h1 {
    font-size: 268%;
    line-height: 1.2em;
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 18px;
  }

  h2 {
    margin-top: 15px;
    font-size: 125%;
  }

  h3, h4, h5, h6 {
    font-size: 115%;
    font-weight: 600;
    line-height: 1.2em;
  }

  // Styling rules for the editable content area paragraphs, lists and links.
  p {
    margin-top: 20px;
  }

  ul {
    padding: 0 0 20px 10px;
    margin: 0;
    list-style-type: none;

    li {
      padding-left: 20px;
      background: url(../images/list_dot.gif) no-repeat 0 10px;
    }
  }

  ol {
    li {
    }
  }

  a {
    @include color($secondary-color);

    &:hover {
      text-decoration: underline;
    }
  }

  // Styling rules for the editable content area images, embedded videos, preformatted texts, code examples etc.
  img, iframe {
    max-width: 100%;
  }

  img {
    height: auto;
  }

  img, iframe, pre {
  }

  pre {
    margin-bottom: 0;
    overflow: auto;
    white-space: nowrap;

    &, code {
      padding: 10px;
      font-size: 14px;
      @include bg($grey-3);
    }

    code {
      display: block;
      margin-top: 0;
      padding: 0;
    }
  }

  b, strong {
    @include color($black);
  }

  /* TABLES */
  // Styling rules for the site's editable content area tables.
  // NB! Works only if editable content-area - {% content %} -  is wrapped into the element that has the "content-formatted" class.

  // Container around editable content-area table.
  .table-container {
    margin-top: 20px;
  }

  // Overthrow plugin to support horizontal scrolling on older devices that have touch-screens. For example Android 2.3 devices.
  .overthrow {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
  }

  // Adds dashed border to indicate that the table is too wide and can be scrolled horizontally.
  .horizontal-scroll {
    @include border(left, 1px, dashed, $third-color);
    @include border(right, 1px, dashed, $third-color);
  }

  table {
    width: 100%;
    margin-top: 20px;
    font-size: 16px;
    border-collapse: collapse;

    td {
      padding: 10px;
      @include border(top, 1px, solid, $third-color);
      @include border(bottom, 1px, solid, $third-color);
    }
  }

  .edy-texteditor-view {
    min-height: 32px;
  }
}
