/* CONTENT */
// Styling rules for the site's main content area. These rules affect the entire site.
.content {
  @include clearfix;
  overflow: auto;
  margin: auto;
  padding: 35px 0 40px;
  max-width: 960px;

  .content-left {
    float: left;

    &.last {
      clear: left;
    }
  }

  .content-right {
    position: relative;
    float: right;
  }

  .no-flexbox &,
  .flexbox & {
    @include query($tablet-2) {
      display: block;
    }
  }

  .no-flexbox & {
    display: table;
    width: 100%;
    vertical-align: top;
  }
}

.content-formatted {

  @include query($tablet-2) {
    h1 {
      font-size: 135%;
    }

    h2 {
      font-size: 125%;
    }

    h3 {
      font-size: 115%;
    }
  }
}

.content-header {
  width: 100%;
  .content-formatted & {
    @include query($tablet-2) {
      font-size: 200%;
    }
    padding-bottom: 20px;
    font-weight: 700;
    font-size: 70px;
    margin: 0;
    line-height: 1.2em;

    .edy-texteditor-view {
      min-height: 1.2em;
    }
  }
}

.content-body {
  .front-page & {

    @include query($tablet-2) {
      margin-top: 35px;
    }

    p {

      @include query($tablet-2) {
        font-size: 18px;
      }
      line-height: 1.5;
    }
  }

  .common-page  & {
    margin-top: 35px;
  }
}
