/* CONTENT */
// Styling rules for the site's main content area. These rules affect the entire site.
.content {
  @include bg(white);
  @include clearfix;
  overflow: auto;
  margin: auto;
  padding: 40px 20px 60px;
  max-width: 960px;

  .content-left {
    float: left;

    &.last {
      clear: left;
    }
  }

  .content-right {
    float: right;
  }

  .no-flexbox &,
  .flexbox & {
    @include query($tablet-2) {
      display: block;
    }
  }

  .no-flexbox & {
    display: table;
    width: 100%;
    vertical-align: top;
  }
}

.content-right .content-body {

  h1 {
    margin-bottom: 15px;
    font-size: 175%;
    line-height: 1;
  }

  h2 {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 150%;
  }

  h3, h4, h5, h6 {
    margin-bottom: 15px;
    margin-top: 0;
    font-weight: 600;
    font-size: 125%;
    line-height: 1.2em;
  }
}

.content-title,
.content-header {
  &.content-formatted {

    @include color($secondary-color);
    @include query($tablet-2) {
      h1 {
        font-size: 135%;
      }

      h2 {
        font-size: 125%;
      }

      h3 {
        font-size: 115%;
      }
    }
  }
}

.content-title {
  &.content-formatted {

    @include query($mobile-1) {
      font-size: 50px;
    }
    font-weight: 700;
  }
}

.content-header {
  &.content-formatted {
    @include query($tablet-2) {
      font-size: 200%;
    }
    font-weight: 300;
    font-size: 268%;
    line-height: 1.2em;

    .edy-texteditor-view {
      min-height: 18px;
    }
  }
}

.content-body {
  .front-page & {

    @include query($tablet-2) {
      margin-top: 35px;
    }
    margin-top: 10px;

    p {

      @include query($tablet-2) {
        font-size: 18px;
      }
      margin-top: 10px;
      font-size: 25px;
      line-height: 1.5;
    }
  }

  .common-page  & {
    margin-top: 35px;
  }
}
