/* FOOTER */
// Styling rules for the site's footer. These rules affect the entire site.
.footer {
  clear: both;
  margin-top: 0;
  padding: 25px 20px;
  text-align: left;
  position: relative;

  .footer-inner {
    margin: auto;
    max-width: 960px;
  }

  .content-formatted {
    @include query($tablet-3) {
      margin-top: 15px;
      width: 100%;
    }
    @include color($third-color);
    margin-right: 235px;
    width: auto;
    font-size: 13px;
    line-height: 1.7em;

    .edy-texteditor-view {
      min-height: 18px;
    }

    b {
      @include color($black);
    }

    a {
      @include color($black);
      display: inline-block;
      text-decoration: none;
      line-height: 1.4;
      &:hover {
        @include color($black, 0.85);
      }
    }
  }
}
