/* FOOTER */
// Styling rules for the site's footer. These rules affect the entire site.
.footer {
  @include query($tablet-1) {
    padding-right: 20px;
    padding-left: 20px;
  }
  clear: both;
  margin-top: 0;
  padding: 0;
  text-align: left;
  body:not(.front-page) & {
    padding-bottom: 30px;
  }

  .footer-inner {
    position: relative;
    margin: auto;
    max-width: 960px;
  }

  .content-formatted {
    @include query($tablet-2) {
      margin-top: 20px;
      width: 100%;
    }
    // leave room for search form
    margin-right: 235px;
    width: auto;
    font-size: 13px;
    line-height: 1.7em;

    .edy-texteditor-view {
      min-height: 18px;
    }

    a {
      display: inline-block;
      text-decoration: none;
      line-height: 1.4;
    }
  }
}

.voog-reference {
  @include query($tablet-1) {
    padding-left: 20px;
  }
  clear: both;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 0;
  max-width: 960px;
  text-align: left;
  a {
    display: inline-block;
    padding: 7px 9px;
    text-decoration: none;
    font-size: 0.55em;
    line-height: 1;
  }
}
