/* GENERAL */
// Styling rules for the basic parts of the page. These rules affect the entire site.
body {
  @include color($primary-color);
  @include bg($grey-4);
  position: relative;
  margin: 0;
  padding: 0;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  font-weight: 400;
  font-size: 15px;
  font-family: 'Open Sans', Arial, Verdana, sans-serif;
  line-height: 1.7;
}
 // Layout specific body classes
 .front-page {
    .content {
      @include query($tablet-2) {
        margin-top: 20px;
      }
    }
    .content-left {
      width: 43%;
    }

    .content-header {
      padding: 0 0 40px;
      font-size: 320%;
      line-height: 1.2em;
    }

    .content-right {
      width: 48%;
    }

    .content-right,
    .content-left {
      @include query($tablet-2) {
        display: block;
        width: 100%;
      }
    }
 }

 .common-page {
    .content {
      @include query($tablet-2) {
        padding: 30px 20px;
      }
    }
    .content-left {
      @include query($tablet-2) {
        display: none;
      }
      float: left;
      clear: left;
      min-height: 10px;
      width: 170px;
    }

    .content-right {

      @include query($tablet-2) {
        padding: 0;
      }
      float: none;
      overflow: hidden;
      padding: 0 35px 0 45px;
      width: auto;
    }

    .content-centered {
      @include query($tablet-2) {
        padding: 0;
      }
      padding: 0 12%;
    }

    .content-header {
      @include query($tablet-2) {
        margin-top: 0;
      }
      margin-top: 2px;
      margin-bottom: 18px;
    }

    .content-body {
      margin-top: 0;
    }
 }

 .blog-page,
 .post-page {
    .content {
      padding-right: 12%;
      padding-left: 12%;
    }
 }

 .blog-page {

 }

 .post-page {

 }

// Pseudo classes for declaring commonly used styling rules for different elements.
%clearfix:after {
  display: table;
  clear: both;
  content: "";
}

%stretch {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

%inline-block {
  display: inline-block;
}

// Styling rules for the main container that affects the entire site's other elements.
.container {
  @include bg(white);
  margin: 0 auto;
  max-width: 100%;

  a {
    text-decoration: none;

    img {
      border: none;
    }
  }
}
