/* HEADER */
// Styling rules for the site's header. These rules affect the entire site.
.header {
  @include bg(white);
  margin: auto;
  padding: 63px 20px 0;
  max-width: 960px;
  text-align: right;
}

.header-inner {
  min-height: 50px;
  width: 100%;
  border-bottom: 1px solid $grey-2;
  text-align: right;
  padding-bottom: 32px;
  justify-content: space-between;
  .no-flexbox &,
  .flexbox & {
    @include query($tablet-2) {
      display: block;
      padding-bottom: 3px;
    }
  }

  .no-flexbox & {
    display: table;
    width: 100%;
    vertical-align: top;
  }

  .flexbox & {
    @include flexbox;
    @include align-items(flex-start);
  }

  .header-left,
  .header-right {
    .no-flexbox & {
      display: table-cell;
    }
  }

  .header-left {
    .flexbox & {
      width: auto;
    }

    .header-title {
      @include query($tablet-2) {
        display: block;
        margin-right: 40px;
      }

      &, & a {
        @include color($secondary-color);
        text-transform: uppercase;
        font-weight: 300;
        font-style: normal;
        font-variant: normal;
        font-size: 23px;

        &:hover {
          @include color($primary-color, 0.8);
        }
      }
    }
  }

  .header-right {

    @include query($tablet-2) {
      .no-flexbox &,
      .flexbox & {
        display: none;
      }
    }
    width: auto;
    text-align: right;
  }

  .flexbox & {
    @include flexbox;
  }
}
