/* HEADER */
// Styling rules for the site's header. These rules affect the entire site.
.header {
  @include bg(white);
  @include query($tablet-2) {
    padding-top: 23px;
  }
  margin: auto;
  padding: 63px 20px 0;
  max-width: 960px;
  text-align: right;
}

.header-inner {
  padding-bottom: 36px;
  min-height: 50px;
  width: 100%;
  text-align: right;
  justify-content: space-between;
  .no-flexbox &,
  .flexbox & {
    @include query($tablet-2) {
      display: block;
      padding-bottom: 2px;
    }
  }

  .no-flexbox & {
    display: table;
    width: 100%;
    vertical-align: top;
  }

  .flexbox & {
    @include flexbox;
    @include align-items(flex-start);
  }

  .header-left,
  .header-right {
    .no-flexbox & {
      display: table-cell;
    }
  }

  .header-left {
    text-align: left;
    .flexbox & {
      width: auto;
    }

    .header-title {
      @include query($tablet-2) {
        display: block;
      }
      padding: 5px 0;
      &, & a {
        @include color($secondary-color);
        display: inline-block;
        text-decoration: none;
        font-weight: 500;
        font-style: normal;
        font-variant: normal;
        font-size: 24px;
        line-height: 1em;

        &:hover {
          @include color($secondary-color, 0.8);
          text-decoration: none;
        }
      }
    }
  }

  .header-right {

    @include query($tablet-2) {
      .no-flexbox &,
      .flexbox & {
        display: none;
      }
    }
    width: auto;
    text-align: right;
  }

  .flexbox & {
    @include flexbox;
  }
}
