/* MENUS */
// Styling rules for the site's menus. These rules affect the entire site.

// Menu button. Only visible on smaller screens.
.menu-btn {
  @include query($tablet-2) {
    // position: absolute;
    // top: 12px;
    // left: 20px;
    display: inline-block;
    float: right;
    margin: 0;
    padding: 0;
    padding-right: 13px;
    height: 41px;
    border: none;
    background: none;
    cursor: pointer;

    &:focus {
      outline: none;
    }

    &:hover {
      opacity: 0.9;
    }

    &::-moz-focus-inner {
      padding: 0;
      border: 0;
    }

    .menu-stripe {
      @include bg($white);
      display: block;
      margin: 4px 0;
      width: 22px;
      height: 3px;
      border-radius: 5px;

      &:first-child,
      &:last-child {
        margin: 0;
      }
    }
  }
  display: none;
}

.mobile-menu-wrapper {
  @include query($tablet-2) {
    display: block;
  }
  position:relative;
  z-index: 10;
  display: none;
  min-height: 41px;
  width: 100%;
  height: auto;
  text-align: left;

  .mobile-menu-header {
    position: relative;
    height: 41px;
  }
  .mobile-menu-main  {
    display: none;
    width: 100%;
    .pages {
      padding-bottom: 0;
    }
    &.expanded {
      display: block;
    }
    & > ul {
      padding: 0 20px 10px;
      & > li:last-child {
        border-top: none;
      }
    }
    ul {
      margin: 0;
      list-style: none;
      a {
        display: inline-block;
        width: 100%;
        width: 80%;
        text-decoration: none;
        word-break: break-word;
        font-weight: 400;
        line-height: 40px;
        line-height: 1em;
        &.active {
          font-weight: 700;
        }
      }
      ul li a {
        padding-left: 20px;
      }
      ul ul li a {
        padding-left: 40px;
      }
      li {
        min-height: 40px;
        width: 100%;
        line-height: 40px;
        &.open > ul {
          display: block;
          border-top-color: transparent;
        }
        &:last-child {
          border-bottom: none;
        }
      }
      ul {
        display: none;
        padding: 0;
      }
      &.languages {
        font-size: 0.8em;
        li,
        li a {
          min-height: 35px;
          border-top: none;
          line-height: 35px;
        }
        li > div {
          display: inline-block;
          height: 35px;
          line-height: 35px;
        }
      }
    }
  }

  .menu-lang {
    @include query($tablet-2) {
      display: block;
    }
    position: absolute;
    top: 0;
    right: 22px;
    z-index: 5;
    margin-right: 20px;
    padding-right: 22px;
    width: auto;
    color: $white;
    font-size: 0.8em;

    &:after {
      position: absolute;
      top: 17px;
      right: 7px;
      display: block;
      overflow: hidden;
      width: 0;
      height: 0;
      border-width: 5px;
      border-style: solid;
      border-color: none;
      border-color: transparent;
      border-color: rgba(255,255,255,0.01);
      border-top-color: $white;
      -webkit-border-image: none;
      -moz-border-image: none;
      content: '';
    }

    select {
      position: absolute;
      top: 12px;
      right: 0;
      z-index: 10;
      opacity: 0;
      cursor: pointer;
    }
  }
}

.mobile-menu-arr {
  top: 14px;
  right: 20px;
  float: right;
  width: 30px;
  height: 40px;
  background: url("../images/arr-bottom.png") no-repeat right center;
  background-size: 18px 18px;
  opacity: 0.5;
  cursor: pointer;

  .svg & { background-image: url("../assets/arr-bottom.svg"); }
  .open > & { background-image: url("../images/arr-top.png"); opacity: 1; }
  .svg .open > & { background-image: url("../assets/arr-top.svg"); }
 }

// Wrapper for the CMS adminmode on-page buttons. For example "hidden menu items" or "add-page" buttons.
.edit-btn {
  display: inline-block;
  vertical-align: middle;
  line-height: 0.8;
  &:before {
    display: none !important;
  }
}

// General rules for the menus. These rules affect all menus on the site.
ul.menu {
  margin: 0;
  padding: 0;
  list-style: none;

  .menu-item {
    @extend %inline-block;
    list-style: none;
    &:before {
      display: none !important;
      margin: 0 !important;
      padding: 0 !important;
      content: '' !important;
    }
  }
}

// Styling rules for the site's main menu. Usually the first level menu but can have the sub menu in it aswell.
.menu-main {
  @include query($tablet-2) {
    display: none;
  }

  @include query($mobile-1) {
    &.expanded {
      @include border(top, 1px, solid, $primary-color, 0.2);
      @include border(bottom, 1px, solid, $primary-color, 0.2);
      @include no-box-shadow;
      right: 0;
      left: 0;
      margin: 0 0 60px;
      min-width: 100%;
    }
  }
  display: inline;
  padding: 7px 0;
  max-width: 75%;

  .menu {
    display: inline;
    padding: 0;
    list-style: none;
    .menu-item,
    .edit-btn {
      margin-left: 20px;
      padding: 0;
      background: none;
      line-height: 1.3em;
    }

    .edit-btn {
      vertical-align: 1px;
    }

    .menu-link {
      display: block;
      text-transform: uppercase;
      font-weight: 400;
      font-size: 18px;

      &.untranslated {
        color: $red;
      }

      &.active {
        font-weight: 700;
      }
    }
  }
}

// Styling rules for the site's sub menu.
#sidebar {

  .menu {
    text-align: left;
    
    .menu-item {
      margin: 0;
      width: 100%;
      font-size: 1em;
      line-height: 1.05em;

      &:first-child {
        border-top: none;
      }

      .menu-link {
        display: block;
        padding: 16px 0;
        width: 100%;

        &.active {
          font-weight: 700;
        }

        &:hover {
          text-decoration: none;
        }
      }
    }
    .edit-btn {
      padding-left: 5px;
    }
  }

  .submenu {
    @include bg(#f7f7f7);
    margin: 0;
    padding: 7px 0;
    background: #f7f7f7;
    list-style-type: none;
    .menu-item {
      padding-left: 20px;
      width: 150px;
      border: none;
      .menu-link {
        padding: 7px 0;
      }
    }
    .edit-btn {
      padding-left: 15px;
    }
  }
}

.menu-lang {
  display: inline;
  padding: 6px 0;
  width: auto;

  .menu {
    vertical-align: middle;
  }

  .langmenu {
    position: relative;
    z-index: 100;
    float: right;
    margin-top: 1px;
    margin-left: 20px;
    height: 24px;
    border-radius: 20px;

    .langmenu-content {
      padding: 4px 22px 0 10px;
      height: 14px;
      font-size: 14px;
      line-height: 1em;
      cursor: pointer;

      &:before {
        position: absolute;
        top: 10px;
        right: 9px;
        display: block;
        overflow: hidden;
        width: 0;
        height: 0;
        border-width: 5px;
        border-style: solid;
        border-color: none;
        border-color: transparent;
        content: '';
      }
    }

    select {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
      outline: 0;
      border: none;
      background: none;
      color: #8f8f8f;
      font-size: 11px;
      line-height: 1.1em;
      opacity: 0;
      filter: alpha(opacity=0);
      cursor: pointer;
      text-direction: rtl;
    }

    .langmenu-popup {
      position: absolute;
      top: 36px;
      left: 50%;
      display: none;
      margin-left: -50px;
      width: 100px;
      ul li {
        padding: 0;
        background: none;
      }
    }

    .langmenu-arrow {
      position: absolute;
      top: -23px;
      left: 50%;
      overflow: hidden;
      margin-left:-12px;
      width: 0;
      height: 0;
      border-width: 12px;
      border-style: solid;
      border-color: transparent;
    }

    .langmenu-arrow2 {
      position: absolute;
      top: -19px;
      left: 50%;
      z-index: 2;
      overflow: hidden;
      margin-left:-10px;
      width: 0;
      height: 0;
      border-width: 10px;
      border-style: solid;
      border-color: transparent;
    }

    ul {
      margin: 0;
      padding: 10px 0;
      background: #f7f7f7;
      list-style-type: none;

      a {
        display: block;
        padding: 4px 0;
        border-bottom: none;

        &.active {
          font-weight: 600;
        }
      }
    }

    li {
      margin: 0;
      text-align: center;
      font-size: 0.9em;
      line-height: 1.1em;
    }
  }
}
