/* SEARCH */
// Styling rules for the site's search box. These rules affect the entire site.
.search,
.search-form {
  @extend %clearfix;

  .not-empty {
    .search-clear {
      display: inline-block;
    }
  }
}

.search {
  @include query($tablet-2) {
    display: none;

    &.active {
      @include bg($black, 0.5);
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 10;
      display: block;
      margin: 0;
      padding: 0;
      height: 100%;
      width: 100%;
    }
  }
  position: absolute;
  top: 10px;
  right: 0;
  display: inline-block;
  margin-top: -4px;
  margin-left: 15px;
  width: 225px;
  height: 36px;
  vertical-align: middle;
  line-height: 1;
}

.search-inner {
  @include box-sizing(border-box);
  @include query($tablet-2) {
    position: absolute;
    top: 2%;
    padding: 0 20px;
    width: 100%;
  }
}

.search-form {
  @include border(all, 1px, solid, $black, 0.1);
  @include query($tablet-2) {
    border-radius: 0;
    &, &.active {
      margin: 0 auto;
      max-width: 400px;
      border: none;
    }
  }
  position: relative;
  z-index: 20;
  border-radius: 30px;

  &.active {
    // @include border(all, 1px, solid, $black, 0.3);
  }
}

.search-input {
  -webkit-appearance: none;
}

.search-input,
.search-submit {
  &:focus {
    outline: none;
  }
}

.search-submit,
.search-btn,
.search-clear {
  display: inline-block;
  padding: 0;
  width: 30px;
  height: 100%;
  border: none;
  background-position: center;
  background-repeat: no-repeat;
  vertical-align: top;
  line-height: 41px;
  cursor: pointer;
  &:hover {
    opacity: 0.9;
  }
  &:focus {
    outline: none;
  }
}

  .search-clear {
    @include query($tablet-2) {
      right: 40px !important;
      background-position: 5px 5px;
      background-size: 40px !important;
    }
    top: 0;
    right: 35px !important;
    display: none;
    background-position: 5px 7px;
    background-size: 25px;
    opacity: 0.75;
    &:hover {
      opacity: 0.5;
    }
  }

.search-input {
  margin: 0;
  padding: 0 50px 0 15px;
  height: 35px;
  border: none;
  background: none;
  vertical-align: middle;
  font-size: 1em;
  font-family: inherit;
  line-height: 1;
  // @include box-sizing(border-box);

  @include query($tablet-2) {
    padding-right: 60px;
    padding-left: 20px;
    width: 77%;
    height: 40px;
    font-size: 24px;
  }

  // Removes the clear input button in IE11
  &::-ms-clear {
    display: none;
  }

  @include placeholder {
    padding: 3px 0 4px 0;
    line-height: 1;
  }
}

.search-submit,
.search-clear {

  @include query($tablet-2) {
    width: 41px;
    height: 40px;
    background-size: 32px;
  }
  position: absolute;
  top: 0;
  right: 5px;
  background-color: transparent;
}

.search-btn {
  @extend %button;

  @include query($tablet-2) {
    position: absolute;
    top: 0;
    right: -8px;
    display: block;
    margin-right: 50px;
  }
  display: none;
  font-size: 0;

}
