// General colors
$primary-color: #5e5e5e;
$secondary-color: #333333;
$third-color: #8f8f8f;

// Specific colors
$black: #222222;
$white: #ffffff;

$red: #cc0000;
$green: #60a740;
$blue-1: #0066bb;
$blue-2: #c7e5ff;

$grey-1: #bebebe;
$grey-2: #d2d2d2;
$grey-3: #898989;
$grey-4: #efefef;
$grey-5: #a7a7a7;
$grey-6: #444444;
$grey-7: #9da0a4;

// Media queries
$tablet-1: 900px;
$tablet-2: 752px;
$tablet-3: 506px;

$mobile-1: 480px;
$mobile-2: 420px;
