// General colors
$primary-color: rgba(0,0,0,0.64);
$secondary-color: rgba(0,0,0,0.82);
$third-color: rgba(0,0,0,0.44);

// Specific colors
$black: rgba(0,0,0,0.88);
$white: rgba(255,255,255,0.95);

$dark-primary: rgba(0,0,0,.8);
$dark-secondary: rgba(0,0,0,.6);
$dark-tertiary: rgba(0,0,0,.3);
$dark-hover: rgba(0,0,0,1);
$dark-hover2: rgba(0,0,0,.7);

$light-primary: rgba(255,255,255,.8);
$light-secondary: rgba(255,255,255,.6);
$light-tertiary: rgba(255,255,255,.3);
$light-hover: rgba(255,255,255,1);
$light-hover2: rgba(255,255,255,.7);

// form error/success colors
$red: #cc0000;
$green: #60a740;

// Media queries
$tablet-1: 900px;
$tablet-2: 752px;
$tablet-3: 506px;

$mobile-1: 480px;
$mobile-2: 420px;
