@charset "UTF-8";
/* BLOG & BLOG ARTICLE */
.post .post-meta {
  line-height: 1.85em; }
.post .post-title {
  margin-top: 6px;
  margin-bottom: 0;
  line-height: 1.2em; }
  .post .post-title, .post .post-title a {
    color: #333333;
    font-weight: 300;
    font-size: 40px; }
    @media screen and (max-width: 752px) {
      .post .post-title, .post .post-title a {
        font-size: 30px; } }
  .post .post-title a:hover {
    color: #333333;
    color: rgba(51, 51, 51, 0.8); }
.post .post-date {
  color: #a7a7a7;
  font-size: 15px; }
.post .comments-count {
  color: #333333;
  display: inline-block;
  padding: 4px 3px 2px;
  min-width: 14px;
  min-height: 14px;
  border: 1px solid #d2d2d2;
  border-radius: 50%;
  vertical-align: 1px;
  text-align: center;
  font-size: 12px;
  line-height: 1em; }
.post .post-content {
  margin-top: 18px; }
  .post .post-content .post-body {
    margin-top: 20px; }
.post .read-more {
  display: inline; }
.post .post-footer .post-author {
  font-size: 12px; }
.post .post-comments-count a {
  color: #0066bb;
  font-size: 14px; }
  .post .post-comments-count a:hover {
    color: #0066bb;
    color: rgba(0, 102, 187, 0.8); }
.post .tags {
  position: relative;
  margin-top: 30px;
  padding: 15px 0;
  padding-left: 25px;
  border-top: 1px solid #d2d2d2;
  border-bottom: 1px solid #d2d2d2;
  font-size: 12px; }
  .post .tags .tag-icon {
    position: absolute;
    left: 0;
    margin-top: 2px;
    margin-right: 7px;
    width: 16px;
    height: 16px;
    background: url("../images/tag.png") no-repeat center center;
    opacity: 0.5;
    filter: alpha(opacity=50); }
  .svg .post .tags {
    background: url("../images/tag.svg") no-repeat center center; }
  .post .tags .tags-list {
    line-height: 1em; }
  .post .tags .tag-link {
    color: #333333;
    text-decoration: none; }
    .post .tags .tag-link:hover {
      color: #333333;
      text-decoration: underline; }

.blog-page .post {
  margin-bottom: 30px; }
  .blog-page .post:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: none; }
.blog-page .tagged-list-header {
  color: #222222;
  position: relative;
  margin: 0 20px;
  padding: 17px 11.5%;
  border-bottom: 1px solid #d2d2d2;
  font-size: 24px; }
  @media screen and (max-width: 752px) {
    .blog-page .tagged-list-header {
      padding-right: 0;
      padding-left: 38px; } }
  .blog-page .tagged-list-header .tag-icon {
    position: absolute;
    margin-top: 6px;
    margin-left: -42px;
    width: 32px;
    height: 32px;
    background: url("../images/tag2.png") no-repeat center center;
    opacity: 0.5;
    filter: alpha(opacity=50); }
  .svg .blog-page .tagged-list-header {
    background: url("../images/tag.svg") no-repeat center center; }

/* COMMENTS */
.comments {
  /* comment list */ }
  .comments .comments-title {
    text-transform: uppercase;
    font-weight: 600;
    margin-top: 30px;
    margin-bottom: 15px;
    line-height: 1.2em; }
  .comments .comment-messages {
    padding: 0 0 10px 20px;
    border-bottom: 1px solid #d2d2d2; }
  .comments .comment {
    margin-bottom: 20px; }
  .comments .comment-date {
    color: #a7a7a7; }
  .comments .comment-title {
    margin-top: 30px;
    margin-bottom: 15px;
    text-transform: uppercase;
    line-height: 1em;
    font-weight: 600; }

/* CONTENT */
.content {
  background-color: white;
  overflow: auto;
  margin: auto;
  padding: 40px 20px 60px;
  max-width: 960px; }
  .content:after {
    content: "";
    display: table;
    clear: both; }
  .content .content-left {
    float: left; }
    .content .content-left.last {
      clear: left; }
  .content .content-right {
    float: right; }
  @media screen and (max-width: 752px) {
    .no-flexbox .content, .flexbox .content {
      display: block; } }
  .no-flexbox .content {
    display: table;
    width: 100%;
    vertical-align: top; }

.content-right .content-body h1 {
  margin-bottom: 15px;
  font-size: 175%;
  line-height: 1; }
.content-right .content-body h2 {
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 150%; }
.content-right .content-body h3, .content-right .content-body h4, .content-right .content-body h5, .content-right .content-body h6 {
  margin-top: 10px;
  font-weight: 600;
  font-size: 125%;
  line-height: 1.2em;
  text-transform: uppercase; }

.content-title.content-formatted,
.content-header.content-formatted {
  color: #333333; }
  @media screen and (max-width: 752px) {
    .content-title.content-formatted h1,
    .content-header.content-formatted h1 {
      font-size: 135%; }
    .content-title.content-formatted h2,
    .content-header.content-formatted h2 {
      font-size: 125%; }
    .content-title.content-formatted h3,
    .content-header.content-formatted h3 {
      font-size: 115%; } }

.content-title.content-formatted {
  font-weight: 700; }
  @media screen and (max-width: 480px) {
    .content-title.content-formatted {
      font-size: 50px; } }

.content-header.content-formatted {
  font-weight: 300;
  font-size: 268%;
  line-height: 1.2em; }
  @media screen and (max-width: 752px) {
    .content-header.content-formatted {
      font-size: 200%; } }
  .content-header.content-formatted .edy-texteditor-view {
    min-height: 18px; }

@media screen and (max-width: 752px) {
  .front-page .content-body {
    margin-top: 35px; } }
.front-page .content-body p {
  line-height: 1.5; }
  @media screen and (max-width: 752px) {
    .front-page .content-body p {
      font-size: 18px; } }
.common-page .content-body {
  margin-top: 35px; }

.content-formatted {
  word-wrap: break-word;
  /* TABLES */ }
  .content-formatted > .content-formatted h1:first-child, .content-formatted > .content-formatted h2:first-child, .content-formatted > .content-formatted h3:first-child, .content-formatted > .content-formatted h4:first-child, .content-formatted > .content-formatted h5:first-child, .content-formatted > .content-formatted h6:first-child, .content-formatted > .content-formatted p:first-child, .content-formatted > .content-formatted ul:first-child, .content-formatted > .content-formatted ol:first-child, .content-formatted > .content-formatted pre:first-child, .content-formatted > .content-formatted code:first-child, .content-formatted > .content-formatted img:first-child, .content-formatted > .content-formatted table form:first-child, .content-formatted > .content-formatted .edy-partial-view:first-child {
    margin-top: 0; }
  .content-formatted > .content-formatted h1:last-child, .content-formatted > .content-formatted h2:last-child, .content-formatted > .content-formatted h3:last-child, .content-formatted > .content-formatted h4:last-child, .content-formatted > .content-formatted h5:last-child, .content-formatted > .content-formatted h6:last-child, .content-formatted > .content-formatted p:last-child, .content-formatted > .content-formatted ul:last-child, .content-formatted > .content-formatted ol:last-child, .content-formatted > .content-formatted pre:last-child, .content-formatted > .content-formatted code:last-child, .content-formatted > .content-formatted img:last-child, .content-formatted > .content-formatted table form:last-child, .content-formatted > .content-formatted .edy-partial-view:last-child {
    margin-bottom: 0; }
  .content-formatted h1, .content-formatted h2, .content-formatted h3, .content-formatted h4, .content-formatted h5, .content-formatted h6 {
    color: #333333;
    word-wrap: break-word; }
  .content-formatted h1 {
    margin: 0;
    padding-bottom: 18px;
    font-weight: 300;
    font-size: 268%;
    line-height: 1.2em; }
  .content-formatted h2 {
    margin: 0;
    padding-bottom: 15px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 125%;
    line-height: 1.2em; }
  .content-formatted h3, .content-formatted h4, .content-formatted h5, .content-formatted h6 {
    margin: 0;
    padding-bottom: 15px;
    font-weight: 600;
    font-size: 115%;
    line-height: 1.2em; }
  .content-formatted h4 {
    font-size: 105%; }
  .content-formatted h5 {
    font-size: 95%; }
  .content-formatted h6 {
    font-size: 85%; }
  .content-formatted p {
    margin: 0;
    padding-bottom: 30px; }
  .content-formatted ul {
    margin: 0;
    padding: 0 0 20px 5px;
    list-style: none; }
    .content-formatted ul li {
      padding: 0;
      list-style: none;
      line-height: 1.7em; }
      .content-formatted ul li:before {
        color: #222222;
        display: inline-block;
        padding: 0 11px 0 2px;
        content: "·";
        vertical-align: -11px;
        font-size: 45px;
        line-height: 15px; }
  .content-formatted ol {
    margin: 0;
    padding: 0 0 20px 5px; }
    .content-formatted ol li {
      margin-left: 25px; }
  .content-formatted a {
    color: #333333; }
    .content-formatted a:hover {
      text-decoration: underline; }
  .content-formatted img, .content-formatted iframe {
    max-width: 100%; }
  .content-formatted img {
    height: auto; }
  .content-formatted img, .content-formatted iframe, .content-formatted pre {
    margin-bottom: 20px; }
  .content-formatted .embed-container {
    margin-bottom: 20px; }
  .content-formatted pre {
    overflow: auto;
    margin: 0; }
  .content-formatted code {
    background-color: #efefef;
    display: block;
    margin-top: 0;
    padding: 10px; }
  .content-formatted pre, .content-formatted code {
    margin: 0 0 20px;
    font-size: 14px;
    white-space: pre-wrap; }
  .content-formatted b, .content-formatted strong {
    color: #222222; }
  .content-formatted .table-container {
    margin-top: 20px; }
  .content-formatted .overthrow {
    overflow: auto;
    -webkit-overflow-scrolling: touch; }
  .content-formatted .horizontal-scroll {
    border-left: 1px dashed #8f8f8f;
    border-right: 1px dashed #8f8f8f; }
  .content-formatted table {
    margin-bottom: 20px;
    width: 100%;
    border-collapse: collapse;
    font-size: 16px; }
    .content-formatted table td {
      border-top: 1px solid #8f8f8f;
      border-bottom: 1px solid #8f8f8f;
      padding: 10px; }
  .content-formatted .edy-texteditor-view {
    min-height: 32px; }

/* FOOTER */
.footer {
  clear: both;
  margin-top: 0;
  padding: 40px 20px;
  background: #efefef;
  text-align: left; }
  @media screen and (max-width: 752px) {
    .footer {
      padding: 30px 20px; } }
  .footer .footer-inner {
    margin: auto;
    max-width: 960px; }
  .footer .content-formatted {
    color: #8f8f8f;
    max-width: 700px;
    font-size: 13px;
    line-height: 1.7em; }
    .footer .content-formatted .edy-texteditor-view {
      min-height: 18px; }
    .footer .content-formatted b {
      color: #222222; }
    .footer .content-formatted a {
      color: #222222;
      display: inline-block;
      border-bottom: 1px solid #bebebe;
      text-decoration: none;
      line-height: 1.4; }
  .footer .voog-reference {
    margin-top: 30px;
    text-align: center; }

/* FORMS */
.content-formatted form {
  max-width: 100%; }
  .content-formatted form p:last-child {
    padding-bottom: 0; }
.content-formatted .form_field,
.content-formatted .edy-fe-label {
  margin-bottom: 2px;
  font-size: 15px; }
.content-formatted .form_field {
  margin-top: 25px; }
  .content-formatted .form_field:first-child {
    margin-top: 0; }
  .content-formatted .form_field:last-of-type {
    margin-bottom: 20px; }
.content-formatted .form_field_required :after {
  content: ' *'; }
.content-formatted .form_field label,
.content-formatted .edy-fe-label {
  display: block;
  margin-bottom: 2px;
  font-weight: 400;
  font-family: inherit;
  cursor: pointer; }
.content-formatted .form_field_textfield,
.content-formatted .form_field_textarea,
.content-formatted .form_field_select,
.content-formatted .form_field_file,
.content-formatted .form_submit input {
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04) ;
  -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04) ;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04) ;
  color: #5e5e5e;
  font-size: 14px;
  font-family: inherit;
  line-height: 1.2em; }
  .content-formatted .form_field_textfield:focus,
  .content-formatted .form_field_textarea:focus,
  .content-formatted .form_field_select:focus,
  .content-formatted .form_field_file:focus,
  .content-formatted .form_submit input:focus {
    outline: none; }
.content-formatted .form_field_textfield,
.content-formatted .form_field_textarea,
.content-formatted .form_field_select,
.content-formatted .form_field_file {
  max-width: 100%; }
.content-formatted .form_field_textfield,
.content-formatted .form_field_textarea {
  border: 1px solid #bebebe;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 5px 5px 4px;
  border-radius: 3px; }
  @media screen and (max-width: 420px) {
    .content-formatted .form_field_textfield,
    .content-formatted .form_field_textarea {
      width: 100%; } }
.content-formatted .form_field_size_small {
  width: 30%; }
.content-formatted .form_field_size_medium {
  width: 70%; }
  @media screen and (max-width: 420px) {
    .content-formatted .form_field_size_medium {
      width: 100%; } }
.content-formatted .form_field_size_large {
  width: 100%; }
.content-formatted .form_submit {
  margin-top: 10px;
  margin-bottom: 23px; }
  .content-formatted .form_submit input {
    background: -webkit-linear-gradient( top , #f4f4f4 0%, #eaeaea 100%);
    background: linear-gradient(to bottom, #f4f4f4 0%, #eaeaea 100%);
    padding-right: 20px;
    padding-left: 20px;
    height: 35px;
    border: 1px solid #cdcdcd;
    border-radius: 2px;
    color: #333333;
    font-size: 95%;
    cursor: pointer; }
.content-formatted .form_error,
.content-formatted .form_field_error {
  color: #cc0000; }
.content-formatted .form_field_with_errors .form_field_textfield,
.content-formatted .form_field_with_errors .form_field_textarea {
  border: 1px solid #cc0000; }
.content-formatted .form_notice {
  color: #60a740; }

/* GALLERY */
.edys-gallery-area:first-child {
  margin-top: 0; }

.edys-gallery .edys-gallery-item {
  display: inline-block; }
  .edys-gallery .edys-gallery-item .edys-gallery-image.inactive {
    opacity: 0.6; }
  .edys-gallery .edys-gallery-item:hover {
    opacity: 1; }

/* GENERAL */
body {
  color: #5e5e5e;
  background-color: #efefef;
  position: relative;
  margin: 0;
  padding: 0;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  font-weight: 400;
  font-size: 15px;
  font-family: 'Open Sans', Arial, Verdana, sans-serif;
  line-height: 1.7; }

@media screen and (max-width: 752px) {
  .front-page .content {
    margin-top: 30px;
    padding: 0 20px; } }
.front-page .content-left {
  width: 43%; }
.front-page .content-header {
  padding: 0 0 22px; }
  .front-page .content-header h1 {
    font-size: 320%;
    line-height: 1.2em;
    margin-bottom: 0; }
    @media screen and (max-width: 752px) {
      .front-page .content-header h1 {
        padding-bottom: 30px;
        font-size: 200%; } }
.front-page .content-right {
  width: 48%; }
  @media screen and (max-width: 752px) {
    .front-page .content-right {
      border-top: 1px solid #d2d2d2; } }
@media screen and (max-width: 752px) {
  .front-page .content-right,
  .front-page .content-left {
    display: block;
    width: 100%; } }

@media screen and (max-width: 752px) {
  .common-page .content {
    padding: 30px 20px; } }
.common-page .content-left {
  float: left;
  clear: left;
  min-height: 10px;
  width: 170px; }
  @media screen and (max-width: 752px) {
    .common-page .content-left {
      display: none; } }
.common-page .content-right {
  float: none;
  overflow: hidden;
  padding: 0 35px 0 45px;
  width: auto; }
  @media screen and (max-width: 752px) {
    .common-page .content-right {
      padding: 0; } }
.common-page .content-centered {
  padding: 0 12%; }
  @media screen and (max-width: 752px) {
    .common-page .content-centered {
      padding: 0; } }
.common-page .content-header {
  margin-top: 2px;
  margin-bottom: 18px; }
  @media screen and (max-width: 752px) {
    .common-page .content-header {
      margin-top: 0; } }
.common-page .content-body {
  margin-top: 0; }

.blog-page .content,
.post-page .content {
  padding: 41px 20px 60px; }
  @media screen and (max-width: 752px) {
    .blog-page .content,
    .post-page .content {
      padding-top: 29px;
      padding-bottom: 30px; } }
.blog-page .content-centered,
.post-page .content-centered {
  padding: 0 12%; }
  @media screen and (max-width: 752px) {
    .blog-page .content-centered,
    .post-page .content-centered {
      padding: 0; } }

.content-formatted:after {
  display: table;
  clear: both;
  content: ""; }

ul.menu .menu-item, .langmenu, .menu-lang, .search,
.search-left,
.search-right {
  display: inline-block; }

.container {
  background-color: white;
  margin: 0 auto;
  max-width: 100%; }
  .container a {
    text-decoration: none; }
    .container a img {
      border: none; }

/* HEADER */
.header {
  background-color: white;
  margin: auto;
  padding: 63px 20px 0;
  max-width: 960px;
  text-align: right; }
  @media screen and (max-width: 752px) {
    .header {
      padding-top: 23px; } }

.header-inner {
  min-height: 50px;
  width: 100%;
  border-bottom: 1px solid #d2d2d2;
  text-align: right;
  padding-bottom: 32px;
  justify-content: space-between; }
  @media screen and (max-width: 752px) {
    .no-flexbox .header-inner, .flexbox .header-inner {
      display: block;
      padding-bottom: 2px; } }
  .no-flexbox .header-inner {
    display: table;
    width: 100%;
    vertical-align: top; }
  .flexbox .header-inner {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    -webkit-align-items: flex-start;
    -moz-align-items: flex-start;
    align-items: flex-start; }
  .no-flexbox .header-inner .header-left, .no-flexbox
  .header-inner .header-right {
    display: table-cell; }
  .header-inner .header-left {
    text-align: left; }
    .flexbox .header-inner .header-left {
      width: auto; }
    @media screen and (max-width: 752px) {
      .header-inner .header-left .header-title {
        display: block; } }
    .header-inner .header-left .header-title, .header-inner .header-left .header-title a {
      color: #333333;
      text-transform: uppercase;
      font-weight: 300;
      font-style: normal;
      font-variant: normal;
      font-size: 23px; }
      .header-inner .header-left .header-title:hover, .header-inner .header-left .header-title a:hover {
        color: #5e5e5e;
        color: rgba(94, 94, 94, 0.8); }
  .header-inner .header-right {
    width: auto;
    text-align: right; }
    @media screen and (max-width: 752px) {
      .no-flexbox .header-inner .header-right, .flexbox .header-inner .header-right {
        display: none; } }
  .flexbox .header-inner {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex; }

/* MENUS */
.menu-btn {
  display: none; }
  @media screen and (max-width: 752px) {
    .menu-btn {
      position: absolute;
      top: 12px;
      left: 20px;
      display: inline-block;
      margin: 0;
      padding: 0;
      border: none;
      background: none;
      cursor: pointer; }
      .menu-btn:focus {
        outline: none; }
      .menu-btn::-moz-focus-inner {
        padding: 0;
        border: 0; }
      .menu-btn .menu-stripe {
        background-color: white;
        display: block;
        margin: 4px 0;
        width: 30px;
        height: 3px;
        border-radius: 5px; }
        .menu-btn .menu-stripe:first-child, .menu-btn .menu-stripe:last-child {
          margin: 0; } }

.mobile-menu-wrapper {
  background-color: #222222;
  display: none;
  min-height: 41px;
  width: 100%;
  height: auto;
  text-align: left; }
  @media screen and (max-width: 752px) {
    .mobile-menu-wrapper {
      display: block; } }
  .mobile-menu-wrapper .mobile-menu-header {
    height: 41px; }
  .mobile-menu-wrapper .mobile-menu-main {
    display: none;
    width: 100%; }
    .mobile-menu-wrapper .mobile-menu-main.expanded {
      display: block; }
    .mobile-menu-wrapper .mobile-menu-main > ul {
      padding: 0 20px 10px; }
      .mobile-menu-wrapper .mobile-menu-main > ul > li:last-child {
        border-bottom: none; }
    .mobile-menu-wrapper .mobile-menu-main ul {
      background-color: #222222;
      margin: 0;
      list-style: none; }
      .mobile-menu-wrapper .mobile-menu-main ul a {
        display: block;
        width: 100%;
        color: #9da0a4;
        text-decoration: none;
        font-weight: 400;
        line-height: 40px; }
        .mobile-menu-wrapper .mobile-menu-main ul a:hover {
          color: white; }
        .mobile-menu-wrapper .mobile-menu-main ul a.active {
          color: white;
          font-weight: 700; }
      .mobile-menu-wrapper .mobile-menu-main ul ul li a {
        padding-left: 20px; }
      .mobile-menu-wrapper .mobile-menu-main ul ul ul li a {
        padding-left: 40px; }
      .mobile-menu-wrapper .mobile-menu-main ul li {
        min-height: 40px;
        border-bottom: 1px solid #444444;
        line-height: 100%; }
        .mobile-menu-wrapper .mobile-menu-main ul li.open > ul {
          display: block;
          border-top-color: transparent; }
        .mobile-menu-wrapper .mobile-menu-main ul li:first-child {
          border-top: 1px solid #444444; }
        .mobile-menu-wrapper .mobile-menu-main ul li:last-child {
          border-bottom: none; }
      .mobile-menu-wrapper .mobile-menu-main ul ul {
        display: none;
        padding: 0; }
  .mobile-menu-wrapper .menu-lang {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 5;
    display: none;
    margin-right: 20px;
    padding-right: 22px;
    width: auto;
    color: white;
    font-size: 11px;
    line-height: 2.3em; }
    @media screen and (max-width: 752px) {
      .mobile-menu-wrapper .menu-lang {
        display: block; } }
    .mobile-menu-wrapper .menu-lang:after {
      position: absolute;
      top: 17px;
      right: 7px;
      display: block;
      overflow: hidden;
      width: 0;
      height: 0;
      border-width: 5px;
      border-style: solid;
      border-color: none;
      border-color: transparent;
      border-color: rgba(255, 255, 255, 0.01);
      border-top-color: white;
      -webkit-border-image: none;
      -moz-border-image: none;
      content: ''; }
    .mobile-menu-wrapper .menu-lang select {
      position: absolute;
      top: 12px;
      right: 0;
      z-index: 10;
      opacity: 0;
      cursor: pointer; }

.mobile-menu-arr {
  top: 14px;
  right: 20px;
  float: right;
  width: 30px;
  height: 40px;
  background: url("../images/arr-bottom.png") no-repeat right center;
  background-size: 18px 18px;
  opacity: 0.5;
  cursor: pointer; }
  .svg .mobile-menu-arr {
    background-image: url("../assets/arr-bottom.svg"); }
  .open > .mobile-menu-arr {
    background-image: url("../images/arr-top.png");
    opacity: 1; }
  .svg .open > .mobile-menu-arr {
    background-image: url("../assets/arr-top.svg"); }

.edit-btn {
  display: inline-block;
  vertical-align: middle;
  line-height: 0.8; }

ul.menu {
  margin: 0;
  padding: 0;
  list-style: none; }
  ul.menu .menu-item {
    list-style: none; }
    ul.menu .menu-item:before {
      display: none !important;
      margin: 0 !important;
      padding: 0 !important;
      content: '' !important; }

.menu-main {
  display: inline-block;
  padding: 7px 0; }
  @media screen and (max-width: 752px) {
    .menu-main {
      display: none; } }
  @media screen and (max-width: 480px) {
    .menu-main.expanded {
      border-top: 1px solid #5e5e5e;
      border-top: 1px solid rgba(94, 94, 94, 0.2);
      border-bottom: 1px solid #5e5e5e;
      border-bottom: 1px solid rgba(94, 94, 94, 0.2);
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
      right: 0;
      left: 0;
      margin: 0 0 60px;
      min-width: 100%; } }
  .menu-main .menu {
    float: right;
    padding: 0;
    list-style: none; }
    .menu-main .menu .menu-item,
    .menu-main .menu .edit-btn {
      margin-right: 30px;
      padding: 0;
      background: none;
      line-height: 1.3em; }
      .menu-main .menu .menu-item:last-child,
      .menu-main .menu .edit-btn:last-child {
        margin-right: 0; }
    .menu-main .menu .edit-btn {
      vertical-align: 1px; }
    .menu-main .menu .menu-link {
      color: #5e5e5e;
      display: block;
      text-transform: uppercase;
      font-weight: 400;
      font-size: 14px; }
      .menu-main .menu .menu-link.untranslated {
        color: #cc0000;
        color: rgba(204, 0, 0, 0.5); }
      .menu-main .menu .menu-link:hover {
        color: #333333; }
      .menu-main .menu .menu-link.active {
        color: #333333;
        border-bottom: 1px solid #bebebe;
        font-weight: 700; }
        .menu-main .menu .menu-link.active:hover {
          color: #333333; }
  .menu-main .menu-lang {
    display: none; }

#sidebar .menu {
  text-align: left; }
  #sidebar .menu .menu-item {
    margin: 0;
    width: 100%;
    border-top: 1px solid #d2d2d2;
    font-size: 15px;
    line-height: 1.05em; }
    #sidebar .menu .menu-item:first-child {
      border-top: none; }
    #sidebar .menu .menu-item .menu-link {
      color: #5e5e5e;
      display: block;
      padding: 10px 0;
      width: 100%; }
      #sidebar .menu .menu-item .menu-link.active {
        color: #222222;
        font-weight: 700; }
      #sidebar .menu .menu-item .menu-link:hover {
        color: #333333;
        text-decoration: none; }
#sidebar .submenu {
  background-color: #f7f7f7;
  margin: 0;
  padding: 12px 0;
  border-top: 1px solid #d2d2d2;
  background: #f7f7f7;
  list-style-type: none; }
  #sidebar .submenu .menu-item {
    padding: 0 10px; }
    #sidebar .submenu .menu-item .menu-link {
      padding: 7px 0; }

.langmenu {
  position: relative;
  z-index: 100;
  float: right;
  margin-top: 1px;
  height: 24px;
  border: 1px solid #d2d2d2;
  border-radius: 20px; }
  .langmenu .langmenu-content {
    color: #8f8f8f;
    padding: 6px 22px 0 12px;
    height: 18px;
    font-size: 11px;
    line-height: 1em;
    cursor: pointer; }
    .langmenu .langmenu-content:before {
      position: absolute;
      top: 9px;
      right: 7px;
      display: block;
      overflow: hidden;
      width: 0;
      height: 0;
      border-width: 5px;
      border-style: solid;
      border-color: none;
      border-color: transparent;
      border-color: rgba(255, 255, 255, 0.01);
      border-top-color: #d2d2d2;
      content: ''; }
  .langmenu select {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    outline: 0;
    border: none;
    background: none;
    background: white;
    color: #8f8f8f;
    font-size: 11px;
    line-height: 1.1em;
    opacity: 0;
    filter: alpha(opacity=0);
    cursor: pointer;
    text-direction: rtl; }
  .langmenu .langmenu-popup {
    position: absolute;
    top: 36px;
    left: 50%;
    display: none;
    margin-left: -50px;
    width: 100px; }
    .langmenu .langmenu-popup ul li {
      padding: 0;
      background: none; }
  .langmenu .langmenu-arrow {
    position: absolute;
    top: -23px;
    left: 50%;
    overflow: hidden;
    margin-left: -12px;
    width: 0;
    height: 0;
    border-width: 12px;
    border-style: solid;
    border-color: none;
    border-color: transparent;
    border-color: rgba(255, 255, 255, 0.01);
    border-bottom-color: #d6d6d6; }
  .langmenu .langmenu-arrow2 {
    position: absolute;
    top: -19px;
    left: 50%;
    z-index: 2;
    overflow: hidden;
    margin-left: -10px;
    width: 0;
    height: 0;
    border-width: 10px;
    border-style: solid;
    border-color: none;
    border-color: transparent;
    border-color: rgba(255, 255, 255, 0.01);
    border-bottom-color: #f7f7f7; }
  .langmenu ul {
    margin: 0;
    padding: 4px 0;
    border: 1px solid #d6d6d6;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background: #f7f7f7;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
    list-style-type: none; }
    .langmenu ul a {
      color: #333333;
      display: block;
      padding: 3px 0;
      border-bottom: none; }
      .langmenu ul a.active {
        color: #333333;
        font-weight: bold; }
  .langmenu li {
    margin: 0;
    text-align: center;
    font-size: 13px;
    line-height: 1.1em; }

.popup {
  position: absolute !important;
  top: 7px !important;
  right: 20px !important;
  float: none !important;
  border: none !important;
  background: none !important; }
  .popup .popup-content:before {
    border-top-color: white !important; }
  .popup .popup-content {
    overflow: hidden;
    color: #8f8f8f;
    color: white !important;
    text-transform: uppercase;
    white-space: nowrap;
    font-size: 11px;
    line-height: 1.1em; }

.menu-lang {
  margin-left: 26px;
  padding: 7px 0; }
  .menu-lang .menu {
    vertical-align: middle; }

.lang-flag-sq:after {
  background-position: 0 0; }

.lang-flag-hy:after {
  background-position: -20px 0; }

.lang-flag-bn:after {
  background-position: -40px 0; }

.lang-flag-pt:after {
  background-position: -60px 0; }

.lang-flag-bg:after {
  background-position: -80px 0; }

.lang-flag-zh:after {
  background-position: -100px 0; }

.lang-flag-hr:after {
  background-position: -120px 0; }

.lang-flag-da:after {
  background-position: -140px 0; }

.lang-flag-cs:after {
  background-position: -160px 0; }

.lang-flag-et:after {
  background-position: -180px 0; }

.lang-flag-fi:after {
  background-position: 0px -14px; }

.lang-flag-fr:after {
  background-position: -20px -14px; }

.lang-flag-ka:after {
  background-position: -40px -14px; }

.lang-flag-de:after {
  background-position: -60px -14px; }

.lang-flag-el:after {
  background-position: -80px -14px; }

.lang-flag-hu:after {
  background-position: -100px -14px; }

.lang-flag-is:after {
  background-position: -120px -14px; }

.lang-flag-hi:after {
  background-position: -140px -14px; }

.lang-flag-id:after {
  background-position: -160px -14px; }

.lang-flag-fa:after {
  background-position: -180px -14px; }

.lang-flag-he:after {
  background-position: 0px -28px; }

.lang-flag-it:after {
  background-position: -20px -28px; }

.lang-flag-ja:after {
  background-position: -40px -28px; }

.lang-flag-ko:after {
  background-position: -60px -28px; }

.lang-flag-lv:after {
  background-position: -80px -28px; }

.lang-flag-lt:after {
  background-position: -100px -28px; }

.lang-flag-ms:after {
  background-position: -120px -28px; }

.lang-flag-nl:after {
  background-position: -140px -28px; }

.lang-flag-no:after {
  background-position: -160px -28px; }

.lang-flag-ur:after {
  background-position: -180px -28px; }

.lang-flag-fil:after {
  background-position: 0px -42px; }

.lang-flag-pl:after {
  background-position: -20px -42px; }

.lang-flag-ro:after {
  background-position: -40px -42px; }

.lang-flag-ru:after {
  background-position: -60px -42px; }

.lang-flag-ar:after {
  background-position: -80px -42px; }

.lang-flag-lt:after {
  background-position: -100px -42px; }

.lang-flag-sk:after {
  background-position: -120px -42px; }

.lang-flag-es:after {
  background-position: -140px -42px; }

.lang-flag-sv:after {
  background-position: -160px -42px; }

.lang-flag-tr:after {
  background-position: -180px -42px; }

.lang-flag-uk:after {
  background-position: 0px -56px; }

.lang-flag-en:after {
  background-position: -20px -56px; }

.menu-tags {
  margin-bottom: 20px; }
  .menu-tags .menu .menu-item {
    margin-right: 15px; }
    .menu-tags .menu .menu-item .menu-link {
      color: #0066bb; }
      .menu-tags .menu .menu-item .menu-link:hover {
        color: #0066bb;
        color: rgba(0, 102, 187, 0.8); }
      .menu-tags .menu .menu-item .menu-link.active {
        font-weight: 700; }

.news {
  margin-top: 0 !important;
  display: block; }
  .news .news-header {
    font-size: 125%;
    text-transform: uppercase;
    font-weight: 600;
    margin: 0;
    line-height: 1.2em;
    color: #333333; }
    .content-body .news .news-header {
      margin-bottom: 12px; }
  .news ul {
    list-style: none;
    padding: 0; }
    .news ul .news-item {
      line-height: 1.6em;
      padding-left: 0;
      padding-bottom: 18px; }
      .news ul .news-item:before {
        content: '';
        padding: 0;
        margin: 0;
        display: none; }
  .news .author,
  .news .date {
    color: #a7a7a7; }
  .news .link {
    color: #222222;
    text-decoration: none; }
    .news .link:hover {
      color: #5e5e5e;
      text-decoration: underline; }

/* SEARCH */
.search-left .edys-search-input {
  width: 128px;
  padding: 7px 10px;
  font-family: inherit;
  font-size: 14px;
  border: 1px solid #bebebe;
  border-radius: 3px; }

.search-right .search-submit {
  vertical-align: middle; }
